@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVC_Forum.Models.Forum.PrivateMessageIndexModel
@{
    var inboxActive = Model.Inbox != null ? "active" : "";
    var outboxActive = Model.Outbox != null ? "active" : "";
}
<div class="container pt-0">
<h1 class="bg-dark text-dark p-2">Private Messages</h1>
<div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group btn-dark btn-md ">
        <a class="btn pm-button @inboxActive" asp-controller="PrivateMessage" asp-action="Inbox" title="Inbox"><i class="fa fa-sign-in fa-rotate-90"></i><span class="d-none d-md-inline"> Inbox</span></a>
            <a class="btn pm-button @outboxActive" asp-controller="PrivateMessage" asp-action="Outbox" title="Sent items"><i class="fa fa-sign-out fa-rotate-270"></i><span class="d-none d-md-inline"> Sent items</span></a>
            <a class="btn pm-message" data-val="" data-target="NewMessage" title="" data-toggle="tooltip" href="#" data-original-title="New private message"><i class="fa fa-1_5x fa-envelope"></i><span class="d-none d-md-inline"> New message</span></a>
            <a class="btn pm-send" style="display: none;" title="Send private message" data-toggle="tooltip" href="#" data-target="SendPMsg"><i class="fa fa-1_5x fa-send"></i><span class="d-none d-md-inline"> Send message</span></a>
    <a class="btn pm-draft" style="display: none;" title="!*en_PrivateMessage.SaveDraft*!" data-toggle="tooltip" href="#" data-target="SendPMsg"><i class="fa fa-1_5x fa-save"></i></a>
            <a class="btn pm-delete" title="" data-toggle="tooltip" href="#" title="Delete private message(s)"><i class="fa fa-1_5x fa-trash"></i><span class="d-none d-md-inline"> Delete</span></a>
    <a style="display:none;" href="/mvc/Home/FileUpload" class="btn pm-attach modal-link" title="" data-original-title="Upload"><span class="fa fa-1_5x fa-paperclip"></span></a>
            <a class="btn pm-settings" data-target="Settings" data-val="1" title="Settings" data-toggle="tooltip" href="#"><i class="fa fa-1_5x fa-cog"></i><span class="d-none d-md-inline"> Settings</span></a>
            <a class="btn pm-button" data-target="SearchMessages" data-val="1" title="" data-toggle="tooltip" href="#" data-original-title="Search"><i class="fa fa-1_5x fa-search"></i><span class="d-none d-md-inline"> Search messages</span></a>
    </div>
</div>
    <div class="row">
        <div class="col-6">
            @if (Model.Inbox != null)
            {
                @await Html.PartialAsync("inbox",Model)
            }
            @if (Model.Outbox != null)
            {
                @await Html.PartialAsync("outbox",Model)
            }
        </div>
        <div class="col-6" id="pm-message">
            @if (Model.Settings != null)
            {
                <partial name="Settings" model="@Model.Settings"/>
            }
        </div>
    </div>

@section Scripts
{
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>

    <script>

        $('[class^="pmread_"]').on("click",
            function(e) {
                e.preventDefault();
                $('#pm-message').load("/PrivateMessage/Read/" + $(this).data("id"));
            });
        $(".pm-settings").on("click",
            function(e) {
                e.preventDefault();
                $('#pm-message').load("/PrivateMessage/Settings/");
            });
        $(".pm-message").on("click",
            function (e) {
                e.preventDefault();
                $('#pm-message').load("/PrivateMessage/Create/",function() {
                    ValidateForms();
                    revalidate();
                });
            });
        $('#select_all').on("change",function() {
            var checkboxes = $(this).closest('form').find(':checkbox');
            checkboxes.prop('checked', $(this).is(':checked'));
        });
        $(".fa-trash").on("click",
            function() {
                if ($(this).data("id")) {
                    if(confirm("delete this Message? ")) {

                        $.post("/PrivateMessage/Delete", { pmid: $(this).data("id"), userid: $(this).data("user") }, function (data) {
                            if (data.success) {
                                alert(data.responseText);
                                location.reload();
                            } else {
                                alert(data.responseText);
                            }
                        });
                    }
                } else {
                    if (confirm("delete selected Messages?")) {
                        $.post("/PrivateMessage/DeleteMany", $("#pm-form").closest('form').serialize(), function (data) {
                            if (data.success) {
                                alert(data.responseText);
                                location.reload();
                            } else {
                                alert(data.responseText);
                            }
                        });
                    }
                }
            });
        $(document).on("click", ".fa-reply", function (e) {
            $('#pm-message').load("/PrivateMessage/Reply/" + $(this).data("id"),function() {
                ValidateForms();
                revalidate();
            });
            e.stopPropagation();
            return false;
        });
        $(document).on("click", ".fa-share", function (e) {
            $('#pm-message').load("/PrivateMessage/Forward/" + $(this).data("id"), function () {
                ValidateForms();
                revalidate();
            });
            e.stopPropagation();
            return false;
        });
        function revalidate() {
            var container = document.getElementById("pm-message");
            var forms = container.getElementsByTagName("form");
            var newForm = forms[forms.length - 1];
            $.validator.unobtrusive.parse(newForm);
        }
    </script>
}
</div>