
<h1 class="text-danger">Topic Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>@ViewBag.Error</p>
@{
    return;
}
@* @if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
} *@


