<div class="container pt-0">
    <div class="center">
        <div class="subforum border border-light rounded col-6 p-0">
            <h1 class="bg-warning text-bg-warning p-2 rounded-top">@Localizer["approveTitle"]</h1>
            @Localizer["approveMessage"]
            <p>@Html.ActionLink(Localizer["gotoHomeUrl"].Value, "Index", "Home")</p>
        </div>
    </div>
</div>