
<div class="container pt-0">
    <div class="center">
        <div class="subforum border border-light rounded col-6 p-0">
            <h1 class="bg-success text-bg-success p-2 rounded-2">Email Confirmation</h1>
            <p class="p-2">
                Thank you for confirming your email.<br/>
                @* Please <a asp-action="Login" asp-controller="Account">click here to log in</a>. *@
            </p>
            @if (SnitzConfig.GetIntValue("STRRESTRICTREG") == 1)
            {
                <p class="p-2">
                    The Administrators have chosen to manually approve registrations.<br />
                    You will receive an email when your account has been activated.
                </p>
            }
            <p>@Html.ActionLink(Localizer["gotoHomeUrl"].Value, "Index", "Home")</p>
        </div>
    </div>
</div>