<div class="container pt-0">
    <div class="center">
        <div class="subforum border border-light rounded col-6 p-0">
            <h1 class="bg-dark text-white p-2">ForgotPassword Confirmation</h1>
            <p class="p-2">
                The link has been sent, please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
