@model SnitzCore.Data.Models.ForgotPasswordModel
@{
    //TODO:
}
<div class="container pt-0">
    <div class="center">
        <div class="m-2 bg-form">
            <div class="subforum border border-light rounded">
                <h1 class="bg-dark text-white p-2 rounded-top">@Localizer["ForgotPassword"]</h1>
                <p class="p-2">@Localizer["ForgotText"]</p>
                <form asp-action="ForgotPassword" asp-controller="Account" class="p-2">
                    <div asp-validation-summary="ModelOnly" class="text-white"></div>
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label">@Localizer["Username"]</label>
                        <input asp-for="Username" class="form-control" placeholder="@Localizer["Username"]" />
                    </div>                    
                    <div class="mb-3">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



