@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCForum.ViewModels.User.UserSignInModel
@{
    if (TempData["Error"] != null)
    {
        ViewData["Error"] = TempData["Error"];
    }
}
@if (SnitzConfig.GetIntValue("STRUSECAPTCHA") == 1)
{
    <div class="container pt-0">
        <div class="center">
            <div class="col-8 col-md-4">
                <div snitz-if="@(TempData["Error"] == null)" id="captchaimage-div">@await Component.InvokeAsync("Captcha")</div>
                <partial name="LoginForm" model="Model" />
            </div>
        </div>
    </div>
}
else
{
    <div class="container pt-0">
        <div class="center">
            <div class="col-8 col-md-4">
                <partial name="LoginForm" model="Model" view-data="ViewData" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/captcha.js" type="text/javascript" ></script>
    <script type="text/javascript">
        $.fn.clearValidation = function () { 
            var v = $(this).validate(); 
            $('[name]', this).each(function () { 
                v.successList.push(this); 
                v.showErrors(); 
            }); 
            v.resetForm(); 
            v.reset(); 
        };

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ValidateForms();
            }, false);
        })();
    </script>
}
