@model SnitzCore.Data.Models.ResetPasswordModel
<div class="container pt-0">
    <div class="center">
        <div class="m-2 bg-form">
            <div class="subforum border border-light rounded p-2">
                <h1 class="bg-dark text-bg-dark p-2">@Localizer["PasswordReset"]</h1>
                <form asp-action="ResetPassword">
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-white"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-white"></span>
                    </div>
                    <input type="hidden" asp-for="Username" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div asp-validation-summary="All" class="text-white">
                        <span>Please correct the following errors</span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Reset" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("ValidationScriptsPartial");
    }
}

