@model SnitzCore.Data.Models.ResetPasswordModel
@inject IPasswordPolicyService passwordPolicyService
@{
    var passwordPolicy = passwordPolicyService.GetPasswordRequirements().ToList();
}

<div class="container pt-0">
    <snitz-breadcrumb show-filter="false"></snitz-breadcrumb>
    <div class="center">

            <div class="col-8 col-md-4 bg-form border border-dark rounded">
            <h1 class="bg-dark text-bg-dark rounded-top p-2">@Localizer["PasswordReset"]</h1>
            <form asp-action="ResetPassword" class="needs-validation p-2">


                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">@Localizer["NewPassword"]</label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    <input type="hidden" asp-for="Username" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <div asp-validation-summary="All" class="text-white">
                        <span>Please correct the following errors</span>

                    </div>
                    <div>
                        <ul class="list-unstyled p-2">
                            @foreach (var item in passwordPolicy)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Reset" class="btn btn-primary" />
                    </div>
                </form>
            </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("ValidationScriptsPartial");
    }

}

