<div class="container pt-0">
    <div class="center">
        <div class="subforum border border-light rounded col-6 p-0">
            <h1 class="bg-dark text-white p-2">@Localizer["ResetConfirmTitle"] ResetPassword Confirmation</h1>
            <p class="p-2">
                @Localizer["ResetConfimMsg"]
                Your password has been reset. Please <a asp-action="Login" asp-controller="Account">click here to log in</a>.
            </p>
        </div>
    </div>
</div>