<div class="container pt-0">
    <div class="center">
        <div class="subforum border border-light rounded col-6 p-0">
            <h1 class="bg-dark text-white p-2">Registration Success</h1>
            <p class="p-2">
                Please check your email for the verification link.
            </p>
        </div>
    </div>
</div>

