<h2 class="mb-3">
    Learn, Collaborate, Share Knowledge
</h2>
<p>Snitz&trade; Forums 2000 is a web-based forum software developed by a group of independent programmers. It was designed as a solution for creating and managing online discussion boards or forums. It gained popularity during the early 2000s and was widely used by various online communities.</p>
<p>The software was originally written in ASP (Active Server Pages) and relied on a Microsoft Access database or in later versions, Microsoft SQL Server, for data storage. It provided a range of features common to forum platforms at the time, such as thread organization, user registration and profiles, private messaging, moderation tools, and customizable themes.</p>
<p>Snitz&trade; offered a relatively straightforward and lightweight solution for website owners to incorporate interactive discussion capabilities into their websites. However, due to the evolving landscape of web development, it gradually lost popularity as more advanced and modern forum software emerged. It was later updated to use .Net MVC and utilising Mono was able to support Linux as well as MySQL databases.</p>
<p>This version brings the Snitz&trade; Forums software right up to date using the latest Microsoft .NET Core technologies, allowing it to run natively on various operating systems, including Windows, Linux, and macOS. It now uses EF Core enabling the Forum to work with SQL Server/Azure SQL Database, SQLite, MySQL, PostgreSQL, and many more databases.</p>
<p>.NET Core empowers developers with flexibility, security, performance, and cost-effectiveness, making it an excellent framework for web application development</p>
<div class="border-1 border-black" style="display:none;">
    <div class="row thead-dark">
        <div class="col-6 col-md-3"><b>Owners</b></div>
        <div class="col-6 col-md-3"><b>Lead Developers</b></div>
        <div class="d-none d-md-inline-block col-md-6"><b>Development Team</b></div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <p class="team">
                Michael Anderson (reinsnitz)<br />
                Pierre Gorissen (gor)<br />
                Huw Reddick (HuwR)<br />
                Richard Kinser (RichardKinser)<br />
            </p>
        </div>
        <div class="col-6 col-md-3">
            <p class="team">
                Sue Crocker (heptite)<br />
                John Miller Jr (John)<br />
            </p>
        </div>
        <div class="col-12 d-md-none"><b>Development Team</b></div>
        <div class="col-12 col-md-3">
            <p>
                <span class="font-weight-bold">Active Members</span><br />
                Doug Gorin (Doug G)<br />
                David Maxwell (davemaxwell)<br />
                Bülent Özden (Bozden)<br />
                Dion Rentos (Kal Corp)<br />
                David Silvera (Davio)<br />
                (Da Stimulator)<br /><br />
                <span class="italic">InActive Members</span><br />
                Tim Teal (tteal)<br />
                Geoff R (GeoffR)<br />
                Jeffrey Alen Stana (jEFF)<br />
                Josh Pape (Josh)<br />
                Kerry (Kerry)<br />
                Luis Romao (zecompadre)<br />
                M Houston (Sparty)<br />
            </p>
        </div>
        <div class="col-12 col-md-3">
            <p>
                <span class="font-weight-bold">(cont.)</span><br />
                Matt (Matt)<br />
                Matthew (Matthew)<br />
                Nathan LeMesurier (Nathan L)<br />
                Richard Hay (anotherwin95)<br />
                Scott Lemieux (slemieux)<br />
                (animedj)<br />
                (BogieMan)<br />
                (brkonthru)<br />
                (BuffyNET)<br />
                (isuru)<br />
                (Sabre Cat)<br />
                (Smiddy)<br />
                (Spoon)<br />
                Kuai Ser Leng (Sting-)<br />
            </p>
        </div>
    </div>
</div>

<p class="mt-2">Many thanks go out to John Penfold and Tim Teal for the original ASP source code and to all the people of Snitz&trade; Forums 2000 at <a href="http://forum.snitz.com" target="_blank" title="Snitz Forums 2000 website">forum.snitz.com</a> for continued support of this product.</p>

