@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.ViewModels.User
@model MVCForum.ViewModels.Home.HomeIndexModel
@section MetaData
{
        <meta name="title" content="@Config.Value.strForumTitle" />
        <meta name="description" content="@Config.Value.strForumDescription" />
        <meta name="robots" content="index,follow" />
}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <partial name="HomeContent"/>
        </div>
        <div class="d-none d-lg-block col-4 mt-3">
            <partial name="_QuickSearch"/>
            <partial name="_Login" model="new UserSignInModel()"/>
            <partial name="_LatestPosts" model="@Model.LatestPosts"/>
        </div>
    </div>
</div>