<div dir="ltr">
    <h2 class="mb-3">
        Thankyou for installing the Forum Application
    </h2>
    <p>Snitz&trade; Forums 2000 is a web-based forum software developed by a group of independent programmers. It was designed as a solution for creating and managing online discussion boards or forums. It gained popularity during the early 2000s and was widely used by various online communities.</p>
    <p>This version brings the Snitz&trade; Forums software right up to date using the latest Microsoft .NET Core technologies, allowing it to run natively on various operating systems, including Windows, Linux, and macOS. It now uses EF Core enabling the Forum to work with SQL Server/Azure SQL Database, SQLite, MySQL, PostgreSQL, and many more databases.</p>
    <p class="mt-2">Many thanks go out to John Penfold and Tim Teal for the original ASP source code and to all the people of Snitz&trade; Forums 2000 at <a href="http://forum.snitz.com" target="_blank" title="Snitz Forums 2000 website">forum.snitz.com</a> for continued support of this product.</p>
    <h3>Next Steps ..</h3>
    <p>
        <ol>
            <li>Go to the Admin area and configure the forum settings</li>
            <li class="list-unstyled">Administrator Account: Administrator</li>
            <li class="list-unstyled">Password: Passw0rd!</li>
            <li class="list-unstyled">&nbsp;</li>
            <li class="list-unstyled fw-bolder">Please change the password after your first login.</li>
        </ol >

        <ol start="2">
            
            <li>Default Categories and Forums have been created for you.</li>
            <li class="list-unstyled">Please review and change as required.</li>
        </ol>
        <ol start="3">
            <li>You can delete any forums or categories you do not need.</li>
            <li class="list-unstyled">Start posting topics and replies</li>
        </ol>
@*         1. Login using the supplied Adminstrator account, the password is Passw0rd!<br />
        2. Go to the Admin area and configure the forum settings<br />
        3. Create Categories and Forums<br />
        4. Create User accounts<br />
        5. Start posting topics and replies<br />
        6. Enjoy your new forum! *@
    </p>
</div>
