<div dir="ltr">
    <h2 class="mb-3">
        Thankyou for upgrading your Forum Application
    </h2>
    <p>Snitz&trade; Forums 2000 is a web-based forum software developed by a group of independent programmers. It was designed as a solution for creating and managing online discussion boards or forums. It gained popularity during the early 2000s and was widely used by various online communities.</p>
    <p>This version brings the Snitz&trade; Forums software right up to date using the latest Microsoft .NET Core technologies, allowing it to run natively on various operating systems, including Windows, Linux, and macOS. It now uses EF Core enabling the Forum to work with SQL Server/Azure SQL Database, SQLite, MySQL, PostgreSQL, and many more databases.</p>
    <p class="mt-2">Many thanks go out to John Penfold and Tim Teal for the original ASP source code and to all the people of Snitz&trade; Forums 2000 at <a href="http://forum.snitz.com" target="_blank" title="Snitz Forums 2000 website">forum.snitz.com</a> for continued support of this product.</p>
    <h3>Next Steps ..</h3>
    <p>
        <ol class="mb-0">
            <li>Log in as an Administrator</li>
            <li>Go to the Admin area and configure the forum settings</li>
            <li class="list-unstyled">You will need to add your account to the SuperAdmin Role (Membership Settings | Roles) to enable access to all options.</li>
        </ol>
        <ol start="3">
            <li>Import the supplied language files to populate the dictionary</li>
            <li class="list-unstyled">&nbsp;</li>
            <li class="list-unstyled fw-bolder">Have a good check and report any errors to the Dev Team.</li>
        </ol>

    </p>
</div>
