<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from TCP</title>
    <style>
        .logo-img {
            /* to black */
            filter: invert(1);
            /* or to blue */
            filter: brightness(0) saturate(100%) invert(38%) sepia(79%) saturate(7462%) hue-rotate(253deg) brightness(97%) contrast(108%);
        }
    </style>
</head>

<body>
    <img src="../images/wizard.svg" width="70" height="70" class="logo-img" />
</body>

</html>