@model SnitzCore.BackOffice.ViewModels.AdminModeratorsViewModel
@{
}
@* @if (ViewBag.Moderation != null)
{
    @Html.DisplayNameForEnum((Enumerators.Moderation)ViewBag.Moderation)
} *@
<div class="row mb-3">
    <div class="col-5"><label class="form-label">Available Moderators</label></div>
    <div class="col-2">&nbsp;</div>
    <div class="col-5"><label class="form-label">Forum Moderators</label></div>
    @Html.ListBoxFor(x => Model.ForumModerators, new MultiSelectList(ViewBag.Moderators, "Key", "Value", Model.ForumModerators), new { @class = "form-select mod-select multiselect" ,size="10"})
</div>
<div class="mb-3">
    <input type="checkbox" class="form-check-inline" id="select_all" /><label class="form-check-label">Select/Un-select All</label>
</div>
@Html.HiddenFor(x => x.ForumId)
<partial name="_FormButtons" />