@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment _env
@{
    ViewBag.Title = "title";
    Layout = "_MasterLayout";
    var dir = Directory.GetFiles($"{_env.ContentRootPath}/Views",
        "*.cshtml", SearchOption.AllDirectories);


}

<h2>Page Templates</h2>
<ul>
@foreach (var file in dir)
{
        var relativePath = file.Replace($"{_env.ContentRootPath}/Views", String.Empty);
        <li>@relativePath</li>
}
</ul>