@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "AdminLayout";
}

<div class="mb-3 p-4">
    <h1>Setup Page</h1>
    <h3>@HttpContextAccessor.HttpContext!.Items["upgrade"]</h3>
</div>