@using Snitz.PhotoAlbum.Models
@model AlbumCategory
@{
    var memberid = MemberService.Current().Id;
}
<form asp-controller="PhotoAlbum" asp-action="AddCategory" data-ajax="true" data-ajax-update="#" id="addcat-form">
    <input type="hidden" name="MemberId" value="@memberid" />
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" asp-for="Description" required/>
    </div>
    @* <button type="submit">Save</button> *@
</form>