.privacy-policy p {
    margin-left: 4rem;
}

.about-page .body-page {
    max-width: unset;
}

.about__header {
    max-width: 1100px;
}

.wrap .contents {
    position: relative;
}

.body-page li {
    margin-bottom: 8px;
}

.nav-stacked {
    margin-left: 0;
    list-style: none;
}

.clearfix::before, .container::before, .clearfix::after, .container::after {
    display: table;
    content: " ";
}

.about__main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 1100px;
}

.about__left-side {
    flex: 1 1 650px;
}

.about__right-side {
    flex: 1 2 200px;
}

.about__stats {
    display: flex;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 1em 1em;
    margin-bottom: 1em;
}

.about__admins, .about__moderators {
    margin-top: 3em;
}

.about__banner {
    margin-bottom: 1em;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 10%;
}

.about__banner-img {
    position: absolute;
    top: 0;
    left: 0;
    /*             width: 100%;
            height: 100%; */
    object-fit: cover;
}

.about__stats-item {
    flex: 1 0 fit-content;
}

.about-page-users-list {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.user-info {
    display: flex;
    gap: 1em;
    margin-bottom: .75rem;
}

.about__activities-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.about__activities-item-icon {
    margin-right: 1em;
}

.about__activities-item-type span {
    display: block;
}

.user-card {
    font-family: Lato, Arial, sans-serif;
}

.user-card .first-row .user-card-avatar {
    margin-top: -3em;
    max-height: 8em;
}

.post-avatar, .topic-avatar, .user-card-avatar {
    position: relative;
}

.user-card .card-content a.card-huge-avatar, .group-card .card-content a.card-huge-avatar {
    display: block;
}

.user-card .first-row {
    display: flex;
}

.user-card .card-content, .group-card .card-content {
    padding: 10px;
    /* background: rgba(255,255,255, 0.5); */
}

.user-card .first-row .names, .group-card .first-row .names {
    flex: 1 1 auto;
}

.user-card .first-row .names, .group-card .first-row .names {
    padding-left: 1.25em;
}

.user-card .first-row .usercard-controls, .group-card .first-row .usercard-controls {
    list-style-type: none;
    margin: 0;
}

.user-card .card-row:not(.first-row), .group-card .card-row:not(.first-row) {
    margin-top: .5em;
}

.user-card .location-and-website {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.user-card .metadata, .group-card .metadata {
    display: flex;
    flex-wrap: wrap;
    gap: .15em .5em;
    color: #000;
}
.profile-popup {
    cursor: pointer;
}
.contact-card {
    width: 70%;
    margin: auto;
    min-height: 200px;
}
@media (max-width: 47.999rem) {
    .about__stats {
        flex-direction: column;
    }

    .about__banner {
        padding-top: 30%;
    }
    .contact-card {
        width: 99%;
    }
}