:root {
    --primary-header: #343a40;
    --font-size: 1rem;
    --spacing: 1rem;
}

html, body {
    font-size: var(--font-size);
    font-family: Verdana, Arial, helvetica;
    background-color: rgb(34,34,34) !important;
    color: var(--primary-header) !important;
    font-weight: 400;
}
a {
    color: silver;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight:;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: gray;
    --bs-btn-hover-border-color: gray;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: gray;
    --bs-btn-active-border-color: gray;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #000000;
    --bs-btn-disabled-border-color: #000000;
}

.btn-outline-primary {
/*    --bs-btn-color: #000000;
    --bs-btn-border-color: #000000;*/
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    /*--bs-btn-hover-border-color: #000000;*/
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #000000;
    --bs-gradient: none;
}

.list-group {
    --bs-list-group-color: #FEFEFE;
    --bs-list-group-bg: none;
    --bs-list-group-border-color: black;
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: .5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: var(--bs-secondary-bg);
    --bs-list-group-disabled-color: var(--bs-secondary-color);
    --bs-list-group-disabled-bg: var(--bs-body-bg);
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}
.latest-posts .list-group {
    flex-direction: column;
}
.form-text{
    color:revert;
}
.navbar-toggler{
    color:white !important;
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: .5rem;
    --bs-card-title-color:;
    --bs-card-subtitle-color:;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: #111;
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow:;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: .5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb),.03);
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: .75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: white;
    word-wrap: break-word;
    background-color: #343a40;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
.topic-contaner.bg-white {
    background-color: #343a40 !important;
}
.navbar {
    background-color: #343a40 !important;
    color: white;
}
a {
    text-decoration: none;
}
a.latestpost-title {
    display: block;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumb a {
    color: silver;
    font-weight: bolder;

}
.breadcrumb {

    --bs-breadcrumb-divider-color: white;

    --bs-breadcrumb-item-active-color: silver;

}
.breadcrumb a:visited {
        color: #fff;
        font-weight: bolder;
        text-decoration: none;
    }

.initial a:visited {
    color: silver;
}
.initial a:hover {
    color: white;
}
h1 {
    font-size: 16px;
    font-weight: bolder;
}
.text-muted {
    color: #fefefe !important;
}
/* ########################################### */
/*           Forums.html                       */
/* ########################################### */

.subforum-title {
    background-color: #292B2E;
}

.subforum-column {
    background-color: #111314;
}
.subforum-icon {
    color: goldenrod;
}
.subforum-icon .fa-ban,.note .fa-ban {
    color: red;
}
.subforum-icon .fa-link, .note .fa-link {
    color: silver;
}

.fa-fire, .subforum-icon .fa-fire, .table-row .status .fa-fire,.note .fa-fire {
    color: orangered;
}
/* For the smartphones */
@media  (max-width: 460px) {
    .subforum-divider {
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
    .body {
        display: flex;
        padding: 10px;
        margin-top: 5px;
    }
}

/*   Header Section    */

/* Nav Bar styles */

.navigate {
    background-color: #292B2E;
    color: #fff;
    padding: 3px;
}

/*.nav-item a {
    color: darkslategrey;
}

    .nav-item a:hover {
        color: white;
    }
*/
.bar-icon {
    color: #fff;
}

/* forum info Styling */
.forum-info {
    padding: 20px;
    background-color: #111314;
}

/* Footer Styling */

footer {
    background-color: #2C2C2C;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.table-head div {
    background-color: #2C2C2C;
    font-weight: bold;
}

/* posts table's body  */

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply, .table-row .subscribe {
    background-color: #131415;
}

/* navigation path*/
 .navigate a {
    color: #fff;
}

.navigate a:hover {
    color: #0000ff;
    font-weight: bolder;
}

/* Pagination*/

.pagination a {
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}
.pagination.quicklink {
    padding: 1px !important;
    margin-bottom: 2px !important;
}
.pagination.quicklink a {
    color: darkslategrey;
    margin-inline: 1px !important;
    padding: 1px 2px !important;
    /*border: solid 0.5px darkslategrey;*/
}
.page-link {
    background-color: #111314;
}
.note {
    background-color: #111314;
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head {
    background-color: #2C2C2C;
}

/*.body {
    background-color: #131415;
}
.body.topic {
    background-color: gray;
}*/
.body .content .comment button {
    box-shadow: 4px 6px #fff;
}
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb),var(--bs-text-opacity)) !important;
}
.btn {
    --bs-btn-color: revert;
}
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: revert;
     --bs-table-bg: revert; 
     --bs-table-border-color: revert; 
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: revert;
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb),.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb),.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb),.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
     border-color: revert; 
}
/* comment section */
.comment-area input:hover {
    border: solid 1px #000000;
}
.bg-form {
    background-color: #222;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #343a40 !important;
}
.dropdown-menu {
    --bs-dropdown-color: #FFF;
    --bs-dropdown-bg: var(--primary-header);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: .25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: .5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

    .dropdown-menu a:visited {
        color: white;
    }

    .dropdown-menu a:hover {
        color: #000;
    }
.jumpto.dropdown-menu {
    /*background-color: whitesmoke !important;*/
    color: white;
    width: auto;
    padding: .5rem;
}

    .jumpto.dropdown-menu a, .jumpto.dropdown-menu a:visited {
        color: white;
    }

.jumpto a.dropdown-item, .jumpto a.dropdown-item:visited {
    color: white;
}

.editor-buttons .dropdown-menu a, .editor-buttons .dropdown-menu a:visited {
    color: #000;
}
/*Auto complete dropdown*/
.ui-menu {
    background-color: white;
    border: lightblue 1px solid;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    color: #000;
}

.pagination a {
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

#theme-change {
    background-color: #343a40;
    color: white;
}

/*.breadcrumb {
    background-color: #343a40;
}*/


#loadFile {
    display: none
}

.modal-header > .modal-title, .modal-body > .body-desc, .modal-body > .photo-input, .modal-footer > .footer-title {
    text-align: center
}
blockquote.newquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}
.en.flag, .en-GB.flag {
    background-image: url(images/flags/en.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.no.flag {
    background-image: url(images/flags/no.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.ro.flag {
    background-image: url(images/flags/ro.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.fa.flag {
    background-image: url(images/flags/fa.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

/* Image Galleries */
.image-gallery figure {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery > li {
    flex-basis: 300px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
}

.image-gallery::after {
    content: "";
    flex-basis: 300px;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.image-gallery .figure:hover .overlay {
    display: block;
    opacity: .6;
}

.image-gallery .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
    .image-gallery .footer {
        color: white !important;
        background-color: black;
        font-size: 18px;
        position: absolute;
        top: 80%;
        left: 0;
    }

        .image-gallery .footer a {
            color: white !important;
        }

.height-100 {
    height: 100vh
}


#loadFile {
    display: none
}

.modal-header > .modal-title, .modal-body > .body-desc, .modal-body > .photo-input, .modal-footer > .footer-title {
    text-align: center
}
.field-validation-error {
    color: var(--bs-form-invalid-color);
}
.table-row.answered-overlay {
    position: relative;
    border: 2px dotted rgba(var(--bs-success-rgb));
}
.table-row .status .fa-folder, .note .fa-folder, .answered-overlay .status .fa-lock {
    color: rgba(var(--bs-success-rgb)) !important;
}

a.latestpost-title {
    display: block;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
    .table-row.rounded-2 {border-radius:0 !important;}
    .table-row{ border-bottom:1px solid white;}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }
    .subforum-row.subforum-weblink {
        display: grid;
        grid-template-columns: 100%;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 30%;

        overflow: hidden;
    }

    .subforum-stats {
        display: none;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}

.accordion-button:not(.collapsed) {
    color: #F5FFFA !important;
    background-color: #292b2e;
    box-shadow: revert;
}
.accordion-button:focus {
    z-index: 3;
    border-color: revert;
    outline: 0;
    box-shadow: revert;
}
.accordion-button {
    color: #F5FFFA !important;
    background-color: #292b2e;
    box-shadow: revert;
}
.accordion-item{
    background-color:revert;
    color:revert;
}
.newposts {
    color: magenta !important;
}

.event-birthday span.fc-content span.fc-title:before, .event-birthday span.my-fc-time:before {
    font-family: FontAwesome;
    content: "\f1fd\00a0";
    color: goldenrod !important
}

.event-birthday > span.fc-time:before {
    font-family: FontAwesome;
    content: "\f1fd\00a0";
    color: goldenrod !important
}

.event-birthday span.fc-content span.fc-title {
    color: goldenrod !important
}

#topic-panel a.btn{
    border-radius:50% !important;
    padding:.25rem !important;
}
#topic-panel button.btn {
    border-radius: 50% !important;
    padding: .25rem !important;
}


.password-strength-indicator.very-weak {
    background: #cf0000;
    border-color: #a60000;
}

.password-strength-indicator.weak {
    background: #f6891f;
    border-color: #c56e19;
}

.password-strength-indicator.mediocre {
    background: #eeee00;
    border-color: #d6d600;
}

.password-strength-indicator.strong {
    background: #99ff33;
    border-color: #7acc29;
}

.password-strength-indicator.very-strong {
    background: #22cf00;
    border-color: #1B9900;
}