html, body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: rgb(250,250,250) !important;
    color: darkslategrey !important;
}
:root {
    --primary-header: #bbb;
    --bs-border-color: var(--primary-header) !important;
}
.table-primary{
    --bs-table-bg: silver;

}
.btn-outline-info {
    --bs-btn-color: #aaa;
    --bs-btn-border-color: #aaa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #aaa;
    --bs-btn-hover-border-color: #aaa;
    --bs-btn-focus-shadow-rgb: 13,202,240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #aaa;
    --bs-btn-active-border-color: #aaa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #aaa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #aaa;
    --bs-gradient: none;
}
.btn-outline-primary, .btn-outline-warning, .btn-outline-danger {
    --bs-btn-color: silver;
    --bs-btn-border-color: silver;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: silver;
    --bs-btn-hover-border-color: silver;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: silver;
    --bs-btn-active-border-color: silver;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: silver;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: silver;
    --bs-gradient: none;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #eee;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #111;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #111;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: silver;
    --bs-btn-border-color: silver;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: silver;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: silver;
    --bs-btn-active-border-color: silver;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: silver;
    --bs-btn-disabled-border-color: silver;
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: gray;
    --bs-btn-border-color: gray;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: green;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: gray;
    --bs-btn-disabled-border-color: gray;
}
.btn-danger {
    --bs-btn-color: #000;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #111;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}
.fc-h-event {
    background-color: gray;
    border: 1px solid gray;
    display: block;
}
.event-birthday.fc-h-event {
    background-color: silver;
    border: 1px solid silver;
    display: block;
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: #eee;
}
.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}
#side-menu ul li a:hover {
    background: #eee !important;
    color: var(--bs-heading-color);
}
#side-menu ul li ul li a:hover {
    border-left: 4px solid #333 !important;
}
.navbar {
    background-color: #eeeeee !important;
    color: #ccc;
}
a {
    color: darkslategrey;
    font-weight: bolder;
    text-decoration: none;
}
a:visited {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}
.initial a:visited {
    color: darkslategrey;
}
.initial a:hover {
    color: #ccc;
}
h1 {
    font-size: 16px;
    font-weight: bolder;
}
.accordion-button{
    background-color:transparent;
}
.sidebar-toggle{
    color:black !important;
}
.table-row .status .fa.fa-thumb-tack.fa-stack-1x, .table-row .status .fa.fa-fire.fa-stack-1x, .table-row .status .fa-regular.fa-frown.fa-stack-1x,
.table-row .status .fa.fa-rocket.fa-stack-1x {
    color: silver !important;
}
#member-tools .nav-item:hover{
    background-color: rgba(0,0,0,.125);
}
/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.subforum-title {
    background-color: #eee;
}

.subforum-column {
    /*background-color: #ddd;*/
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    .subforum > .accordion-collapse .subforum-row:not(:last-child) {
        /* Your styles here */
        border-bottom: 1px solid var(--primary-header);
    }
}

/*   Header Section    */

/* Nav Bar styles */

.navigate {
    background-color: #eee;
    color: #666;
    padding: 3px;
}

.nav-item a {
    font-weight:bolder;
    color: #333;
}

    .nav-item a:hover {
        color: #000;
    }
#fixed-head .nav-item .dropdown-menu {
    width: 200px;
}
.bar-icon {
    color: #fff;
}

/* forum info Styling */
.forum-info {
    padding: 20px;
    background-color: #aaa;
}

/* Footer Styling */

footer {
    background-color: #ddd;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.table-head div {
    background-color: transparent !important;
    font-weight: bold;
}
.table-head{
    border: 1px solid gray;
    border-radius: var(--bs-border-radius)!important;

}
/* posts table's body  */
.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply, .table-row .subscribe {
    /*background-color: #ddd;*/
}

/* navigation path*/
.navigate a {
    color: darkslategrey;
}

.navigate a:hover {
    color: #0000ff;
    font-weight: bolder;
}

/* Pagination*/

.pagination a {
    color: darkslategrey;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px darkslategrey;
}
.page-link {
    background-color: #ddd;
}
.note {
    background-color: #ddd;
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */
.widget-sidebar .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.head {
    background-color: #aaa;
}
.topic-container .card-body {
    background-color: #efefef;
}
.body {
    background-color: #fff;
}
.body.topic {
    background-color: #efefef;
}
.body .content .comment button {
    box-shadow: 4px 6px #fff;
}

/* comment section */
.comment-area input:hover {
    border: solid 1px #000000;
}

.editor-buttons .dropdown-menu a, .editor-buttons .dropdown-menu a:visited {
    color: #000;
}
/*Auto complete dropdown*/
.ui-menu {
    background-color: darkslategrey;
    border: lightblue 1px solid;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    color: #fff;
}
.image-gallery .overlay {
    color:#000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}
.pagination a {
    color: darkslategrey;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px darkslategrey;
}

.cell {
    border: 1px solid gray;
}
.bg-dark {
    background-color: #eee !important;
}
h1.bg-dark {
    background-color: #eee !important;

}
h1.text-white {
    color: darkslategray !important;
}
tr.bg-dark, .card-header.bg-dark, .btn-group.btn-dark {
    background-color: #aaaaaa !important;
}

#theme-change {
    background-color: #eee;
    color: black;
}

.en.flag, .en-GB.flag {
    background-image: url(images/flags/en.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.no.flag {
    background-image: url(images/flags/no.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.ro.flag {
    background-image: url(images/flags/ro.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.fa.flag {
    background-image: url(images/flags/fa.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}
.password-strength-indicator.very-weak {
    background: #cf0000;
    border-color: #a60000;
}

.password-strength-indicator.weak {
    background: #f6891f;
    border-color: #c56e19;
}

.password-strength-indicator.mediocre {
    background: #eeee00;
    border-color: #d6d600;
}

.password-strength-indicator.strong {
    background: #99ff33;
    border-color: #7acc29;
}

.password-strength-indicator.very-strong {
    background: #22cf00;
    border-color: #1B9900;
}