html, body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: #ffc971 !important;
    color: #780116 !important;
}
.navbar {
    background-color: #cc5803 !important;
    color: #780116;
}
a {
    color: #780116;
    font-weight: bolder;
    text-decoration: none;
}
a:visited {
    color: yellow;
    font-weight: bolder;
    text-decoration: none;
}
.initial a:visited {
    color: #780116;
}
.initial a:hover {
    color: #d8572a;
}
h1 {
    font-size: 16px;
    font-weight: bolder;
}
.btn-primary:hover {
    color: #000;
    background-color: gold;
    border-color: gold;
}

.btn-primary {
    color: #000;
    background-color: yellow;
    border-color: yellow;
}
.accordion-button:not(.collapsed) {
    color: #FFFF00 !important;
    background-color: #cc5803;
    box-shadow: revert;
}

.accordion-button:focus {
    z-index: 3;
    border-color: revert;
    outline: 0;
    box-shadow: revert;
}

.accordion-button {
    color: #FFFF00 !important;
    background-color: #cc5803;
    box-shadow: revert;
}

.accordion-item {
    background-color: revert;
    color: revert;
}
.newposts {
    color: yellow !important;
}
/* ########################################### */
/*           Forums.html                       */
/* ########################################### */

.subforum-title, .subforum-title a {
    background-color: #cc5803;
}

.subforum-column {
    background-color: #e2711d;
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    .subforum-divider {
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
}

/*   Header Section    */

/* Nav Bar styles */

.navigate {
    background-color: #cc5803;
    color: #666;
    padding: 3px;
}

.nav-item a {
    color: #780116;
}

    .nav-item a:hover {
        color: white;
    }

.bar-icon {
    color: #fff;
}

/* forum info Styling */
.forum-info {
    padding: 20px;
    background-color: #d8572a;
}

/* Footer Styling */

footer {
    background-color: #e2711d;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.table-head div {
    background-color: #d8572a;
    font-weight: bold;
}

/* posts table's body  */

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply, .table-row .subscribe {
    background-color: #e2711d;
}

/* navigation path*/
.navigate a {
    color: #780116;
}

.navigate a:hover {
    color: #0000ff;
    font-weight: bolder;
}

/* Pagination*/

.pagination a {
    color: #780116;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #780116;
}
.page-link {
    background-color: #e2711d;
}
.note {
    background-color: #e2711d;
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head {
    background-color: #d8572a;
}

.body {
    background-color: #cc5803;
}
    .body.topic {
        background-color: #e2711d;
    }
.body .content .comment button {
    box-shadow: 4px 6px #fff;
}

/* comment section */
.comment-area input:hover {
    border: solid 1px #780116;
}

.editor-buttons .dropdown-menu a, .editor-buttons .dropdown-menu a:visited {
    color: #780116;
}
/*Auto complete dropdown*/
.ui-menu {
    background-color: #780116;
    border: lightblue 1px solid;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    color: #fff;
}

.pagination a {
    color: #780116;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #780116;
}

.cell {
    border: 1px solid gray;
}
.bg-dark {
    background-color: #cc5803 !important;
}
h1.bg-dark {
    background-color: #cc5803 !important;
}
h1.text-white {
    color: #780116 !important;
}
tr.bg-dark {
    background-color: #d8572a !important;
}

#theme-change {
    background-color: #cc5803;
    color: #780116;
}

div.btn-group.btn-dark {
    background-color: #780116;
    color: white !important;
}

/*.breadcrumb {
    background-color: #780116;
}*/

.en.flag, .en-GB.flag {
    background-image: url(images/flags/en.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.no.flag {
    background-image: url(images/flags/no.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.ro.flag {
    background-image: url(images/flags/ro.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.fa.flag {
    background-image: url(images/flags/fa.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

/* Image Galleries */
.image-gallery figure {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

    .image-gallery > li {
        flex-basis: 300px; /*width: 350px;*/
        position: relative;
        cursor: pointer;
    }

    .image-gallery::after {
        content: "";
        flex-basis: 300px;
    }

    .image-gallery li img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-radius: 5px;
    }

    .image-gallery .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
    }

    .image-gallery .figure:hover .overlay {
        display: block;
        opacity: .6;
    }

    .image-gallery .text {
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-gallery .footer {
        color: white !important;
        background-color: black;
        font-size: 18px;
        position: absolute;
        top: 80%;
        left: 0;
    }

        .image-gallery .footer a {
            color: white !important;
        }

.height-100 {
    height: 100vh
}


#loadFile {
    display: none
}
.password-strength-indicator.very-weak {
    background: #cf0000;
    border-color: #a60000;
}

.password-strength-indicator.weak {
    background: #f6891f;
    border-color: #c56e19;
}

.password-strength-indicator.mediocre {
    background: #eeee00;
    border-color: #d6d600;
}

.password-strength-indicator.strong {
    background: #99ff33;
    border-color: #7acc29;
}

.password-strength-indicator.very-strong {
    background: #22cf00;
    border-color: #1B9900;
}