/* ########################################### */
/*                 Global                      */
/* ########################################### */
:root {
    --primary-header: #3498db;
    --font-size: 16px;
    --spacing: 1rem;
}
.mt-6{
    margin-top:6rem !important;
}
.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1)) !important;
}
cite {
    display:block;
    font-weight: lighter;
}
a.btn:hover {
    text-decoration: none;
}

/*.container{ margin-top: 42px;}*/
.center{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}
.subforum-title{

    border-radius: 5px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 15% 18%;
}
.subforum-row.subforum-weblink {
    display: grid;
    grid-template-columns: 7% 93%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
}

.subforum-description *{
    margin-block: 0;
}



.subforum-icon i{
    font-size: 32px;
}
.user-icon i {
    font-size: 22px;
}
.subforum-divider{
    display: none;   
}
.accordion-button:not(.collapsed) {
    color: #F5FFFA !important;
    background-color: #6A5ACD;
    box-shadow: revert;
}

header{
    margin-inline: 10px;
}

.navbar-brand {
    padding-left: 5px;
    
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.hide {
    display: none;
}

/* forum info Styling */
.forum-info{
    padding: 20px;

}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    font-weight: bold;
}

.table-head .status {
    flex: 5%;
    font-size: 1.3em;
    text-align: center;
}

.table-head .subjects{
    flex: 65%;
}

    .table-head .replies {
        flex: 10%;
        flex-grow: 0;
    }

.table-head .last-reply{
    flex: 15%;
    flex-grow: 1;
}
.table-head .subscribe {
        flex: 3%;
        flex-shrink: 1;
        /*font-size: 24px;*/
    }
/* posts table's body  */

.table-row{
    display: flex;
    flex-wrap:wrap;
    margin:1px;
}
    .table-row > * {
        padding: 3px;
        margin: 1px;
        flex: 1 1 160px;
    }
    .table-row .status {
        flex: 5%;
        flex-grow:0;
        font-size: 1.3em;
        text-align: center;
    }
.table-row .subjects{
    flex: 65%;
    flex-grow:0;
}
    .table-row .replies {
        flex: 10%;
        flex-grow: 0;
    }
    .table-row .subscribe {
        flex: 3%;
        flex-shrink: 1;
        /*font-size: 20px;*/
    }






.table-row .last-reply{
    flex: 15%;
    flex-grow: 1;
}

.filter-btn, .post-buttons {
    margin-left: auto;
    order: 2;
}
@media screen and (max-width: 460px) {
    .col {
        padding: 0;
        padding-right: .5em;
    }
    .table-head .subjects {
        flex: 85%;
    }

    .table-head .replies {
        flex: 20%;
        display: none;
    }

    .table-head .last-reply {
        flex: 20%;
        display: none;
    }
    .table-row > * {
        margin: 0px;

    }
    .table-row .status {
        flex: 4%;
        font-size: 14px;
        flex-grow:0;
        text-align: center;
    }
    .table-row .subjects {
        flex: 85%;
        flex-grow: 1;
    }

    .table-row .replies {
        flex: 20%;
        display: none;
    }

    .table-row .last-reply {
        padding-left:.5em;
        flex: 90%;
        margin-bottom: 2px;
    }
    .subforum-info.subforum-column {
        padding-bottom:0;
    }
    #forum-index ol.breadcrumb li:first-child, #forum-index ol.breadcrumb li:nth-child(2) {
        display: none;
    }

    #topic-index ol.breadcrumb li:first-child, #topic-index ol.breadcrumb li:nth-child(2), #topic-index ol.breadcrumb li:nth-child(3) {
        display: none;
    }
    .rank-label, .post-count, .username{display:none;}
}

/* For the smartphones */
@media (max-width: 480px) {
    .subforum-column {
        margin-bottom: 0px;
    }

    .subforum-info.subforum-column {
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .subforum-row.subforum-weblink {
        display: grid;
        grid-template-columns: 100%;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 100%;
        /*grid-template-rows: auto 5em;*/
        overflow: hidden;
    }

    .subforum-icon {
        display: none;
    }

    .subforum-stats {
        display: none;
    }

    .user-icon i {
        font-size: 14px;
    }

    .content {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .forum .input-group-addon, .forum .input-group-append, .input-group.forum .form-control {
        display: block;
        margin-bottom: 10px;
        clear: both;
    }

    .input-group.forum {
        position: relative;
        /*display: block !important;*/
        border-collapse: separate;
    }
}

/* For the tablets */

@media (min-width: 481px) and (max-width: 1024px) {

    .subforum-row {
        overflow: hidden;
        display: grid;
        grid-template-columns: 10% 60% 30% 0%;
    }

    .subforum-icon i {
        font-size: 35px;
    }

    html {
        font-size: 14px;
    }

    h1 {
        font-size: 16px;
    }
}
/*   Header Section    */

/* Pagination*/

.pagination {
    padding: 20px;
    font-size: 15px;
}

.pagination a:hover {
    opacity: 0.5;
}

.note {
    padding: 20px;
    display: block;
}

.note span {
    /*font-size: 1.25em;*/
    margin-block: 5px;
}


    /* ########################################### */
    /*            detail.html                      */
    /* ########################################### */
.card-body {
    flex: 1 auto !important;
}
    .head {
        display: flex;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
    }
    .body {
        display: flex;
        padding: 10px;
        overflow:hidden;
        /*margin-top: 5px;*/
    }
    .authors {
        flex: 15%;
    }

    .content {
        flex: 75%;
        max-width: 75%;
        position: relative;
        padding:0.5em;
    }
    .content .author-sig {
        width:99%;
        border-top:1px dashed black;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .toolbar {
        flex: 5%;
    }
.footer {
    display: flex;
    margin-top: 0 !important;
}
/*.post-control-btn{ width: 100%;}*/


        .body .authors .username {
            font-size: 1.1em;
        }

        .body .authors img {
            max-width: 50px;
            max-height: 80px;
        }

        .body .content .comment button {
            border: none;
            padding: 10px;
            font-weight: bolder;
            cursor: pointer;
            float: right;
        }

    /* comment section */
    .comment-area {
        margin-bottom: 50px;
    }

        .comment-area textarea {
            width: 100%;
            min-height: 100px;
            padding: 10px;
            margin-block: 10px;
        }

        .comment-area input {
            float: right;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }


    /* autocomplete style overrides */
    .ui-autocomplete {
        z-index: 10000;
    }

    .ui-menu {
        max-width: 400px !important;
    }

i.fa-reply, i.fa-trash, i.fa-share, i.fa-close, i.fa-pencil, i.fa-comment-o, i.fa-commenting, i.fa-share-square, i.fa-share-square-o, i.fa-flag-checkered {
    cursor: pointer;
}
i.fa-share-square.category, i.fa-share-square-o.category {
    float: right;
    margin: .5rem;
    font-size: 1.5em;
}
    i.fa-lock.admin, i.fa-unlock.admin {
        cursor: pointer;
    }

    .latest-posts .table tr:first-child td:nth-child(1) {
        border-top: 0;
    }

.field-validation-error,.is-invalid {
    color: red;
    font-size: smaller;
}
.tableFixHead {
    overflow: auto;
    height: 500px;
}
.tableFixHead thead tr {
    position: sticky;
    top: 0;
    z-index: 1;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#customFile .custom-file-control:lang(en)::after {
    content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
    content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-control {
    white-space: nowrap;
}
.post-control-btn .fa {
    font-size: 1.2em;
}

.reply-container .post-control-btn .fa {
    font-size: 1.4em;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    height: auto;
}
.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
    /*width: auto;*/
}
img.selected {
    border: 1px solid darkblue;
    opacity: 1 !important;
}
img.rank {
    margin: 2px;
    opacity: .4;
}

img.rank:hover {
    opacity: 1;
}
img.flag {
    border: 1px solid black;
    opacity: .4;
    margin: 2px;
    width: 20px;
    border-radius: 9px;
}
.validation-summary-valid span {
    display: none;
}
.validation-summary-errors ul {
    list-style-type: none;
}
.validation-summary-errors {
    color: var(--bs-form-invalid-color);
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

pre.language-markup{
    max-width:80%;
}

.avatar-container {
    position: relative;
    width: 100%;
    max-width: 100px;
}
img.avatarsmall {
    margin: 2px;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay-delete {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: gainsboro;
}

/* When you mouse over the container, fade in the overlay icon*/
.avatar-container:hover .overlay-delete {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-trash:hover {
    color: #eee;
}

legend {
    width: auto;
    float: revert;
}
fieldset {
    margin-bottom: 1rem;
}

.modstatus-2, .modstatus-2 div {
    background-color: orange !important;
}
.modstatus-3, .modstatus-3 div {
    background-color: orange !important;
}
i[class^="modstatus-"] {
    display: none;
}
i.modstatus-2, i.modstatus-3 {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.truncate-overflow {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    min-height: 3em;
    max-height: 12em;
    /*text-align: justify;*/
    margin-right: -1em;
    padding-right: 2em;
}
.event-label {
    display: block;
}
.input-group > .form-select {
    width: auto !important;

}

.row {

    margin-left: calc(-.2*var(--bs-gutter-x));
}

.dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
}

.dl-horizontal dd {
    margin-left: 0;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.pmread_False{
    font-weight:800 !important;
}

.resource-item:hover{
    background-color:azure;
}

.content img {
    max-width: 100%;
    height: auto;
}
/* Ranking stars */
.fa-star.gold{
    color:gold;
}
.fa-star.silver {
    color: silver;
}
.fa-star.bronze {
    color: #CD7F32;
}
.fa-star.purple {
    color: mediumpurple;
}
.fa-star.brown {
    color: saddlebrown;
}
.fa-star.blue {
    color: dodgerblue;
}
.fa-star.cyan {
    color: deepskyblue;
}
.fa-star.green {
    color: green;
}


@media (max-width: 768px) {
    .navbar-collapse {
        position: fixed;
        top: 73px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: 100%;
    }

        .navbar-collapse.collapsing {
            height: 100%;
            left: -75%;
            transition: height 0s ease;
        }

        .navbar-collapse.show {
            height: 100%;
            left: 0;
            transition: left 400ms ease-in-out;
        }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 400ms ease-in;
    }
}

/* divTable */
.divTable, div[name=divTable] {
    display: table;
    border-collapse: collapse;
    max-width: 90% !important;
    width: auto;
}

.divTableRow, div[name=divTableRow] {
    display: table-row;
}

.divTableHeading, div[name=divTableHeading] {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead, div[name=divTableCell], div[name=divTableHead] {
    border: 1px solid #337ab7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding: 3px 5px;
}

.divTableHeading, div[name=divTableHeading] {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot, div[name=divTableFoot] {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody, div[name=divTableBody] {
    display: table-row-group;
}