html, body {
    font-size: 14px;
    font-family: Verdana, Arial, helvetica;
    background-color: whitesmoke !important;
    color: #191970 !important;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #191970;
    --bs-btn-border-color: #191970;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #191970;
    --bs-btn-disabled-border-color: #191970;
}
.btn-outline-primary {
    --bs-btn-color: #191970;
    --bs-btn-border-color: #191970;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #191970;
    --bs-btn-hover-border-color: #191970;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #191970;
    --bs-btn-active-border-color: #191970;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #191970;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #191970;
    --bs-gradient: none;
}
.nav-tabs .nav-link {
    color: black !important;
}


h4, .h4 {
    font-size: 1.3em;
}
.subforum-title, .subforum-column {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 /* Navbar Styles */
.nav-tabs .nav-item .nav-link.active {
    background-color: #8199DA;
    color: #FFF;
}

.bg-dark {
    background-color: #191970 !important;
}
.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #fff;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-custom .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .active > .nav-link,
.navbar-custom .navbar-nav .nav-link.show,
.navbar-custom .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-custom .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-text a {
    color: #fff;
}

.navbar-custom .navbar-text a:hover, .navbar-custom .navbar-text a:focus {
    color: #fff;
}

a {
    color: #00008B;
    text-decoration: none;
}
a:visited {
    color: #0000FF;
    text-decoration: underline;
}
a:active,a:hover {
    color: #FF0000;
    text-decoration: underline;
}
.initial a:visited {
    color: #0000FF;
}
.initial a:hover {
    color: #FF0000;
}
h1 {
    font-size: 16px;
    font-weight: bolder;
}
.text-muted {
    color: #fefefe !important;
}

/* ########################################### */
/*           Forums.html                       */
/* ########################################### */

.subforum-title, .subforum-title a {
    background-color: #6A5ACD;
    color: #F5FFFA !important;
}

.subforum-column {
    background-color: #FFF;
}
.subforum-icon {
    color: goldenrod;
}
.subforum-icon .fa-ban,.note .fa-ban {
    color: red;
}
.subforum-icon .fa-link, .note .fa-link {
    color: silver;
}

.table-row .status .fa, .note .fa {
    color: goldenrod;
}
.fa-fire, .subforum-icon .fa-fire, .table-row .status .fa-fire,.note .fa-fire {
    color: orangered;
}
/* For the smartphones */
@media screen and (max-width: 460px) {
    .subforum-divider {
        margin: 0;
        display: block;
        border: 0;
        height: 1px;
        background-color: black;
        /*background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));*/
    }
    .body {
        display: flex;
        padding: 10px;
        margin-top: 5px;
    }
}

/*   Header Section    */

/* Nav Bar styles */

.navigate {
    background-color: #eee;
    color: #666;
    padding: 3px;
}

/*.nav-item a {
    color: darkslategrey;
}

    .nav-item a:hover {
        color: white;
    }
*/
.bar-icon {
    color: #fff;
}

/* forum info Styling */
.forum-info {
    padding: 20px;
    background-color: #8199DA;
}

/* Footer Styling */

footer {
    background-color: #ddd;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.table-head div {
    background-color: #191970;
    font-weight: bold;
    color: #F5FFFA;
}

/* posts table's body  */

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply, .table-row .subscribe {
    background-color: #FFF;
}

    /* navigation path*/
    .navigate a {
        color: darkslategrey;
    }

.navigate a:hover {
    color: #0000ff;
    font-weight: bolder;
}

/* Pagination*/

.pagination a {
    color: darkslategrey;
    margin-inline: 5px;
    padding: 5px 10px;
    /*border: solid 0.5px darkslategrey;*/
}
.pagination.quicklink {
    padding: 1px !important;
    margin-bottom: 2px !important;
}
.pagination.quicklink a {
    color: darkslategrey;
    margin-inline: 1px !important;
    padding: 1px 2px !important;
    /*border: solid 0.5px darkslategrey;*/
}
.page-link {
    background-color: #ddd;
}
.note {
    background-color: #8199DA;
    
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head {
    background-color: #191970;
    color: #fff;
}

div.comment {
    background-color: #F5F5F5;
}
div.comment.alt {
    background-color: #DCDCDC;
}
div.topic-container {
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid black;
}
div.card-body {
    padding: 0;
}
    div.card-body .body {
        margin-top: 0;
        background-color: #DCDCDC;
    }
div.card-body .body.topic {
    margin-top: 0;
    background-color: white;
}
div.card-body .body.alt {
            background-color: #F5F5F5;
        }

.body.topic {
    background-color: #F5F5F5;
}
.body .content .comment button {
    box-shadow: 4px 6px #fff;
}

/* comment section */
.comment-area input:hover {
    border: solid 1px #000000;
}

.editor-buttons .dropdown-menu a, .editor-buttons .dropdown-menu a:visited {
    color: #000;
}
/*Auto complete dropdown*/
.ui-menu {
    background-color: darkslategrey;
    border: lightblue 1px solid;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    color: #fff;
}



/*.cell {
    border: 1px solid gray;
}*/

h1.bg-dark, .btn-group.btn-dark {
    background-color: #eee !important;

}
h1.text-white {
    color: #fff !important;
}
tr.bg-dark, .card-header.bg-dark {
    background-color: #191970 !important;
    color: #fff;
}

#theme-change {
    background-color: #191970;
    color: #fff;
}
.btn-secondary {
    background-color: #8199DA;
}
.bg-form {
    background-color: #8199DA;
}
    .bg-form h1.bg-dark {
        background-color: #6A5ACD !important;
    }

    .new-posts {
        color: magenta !important;
    }

blockquote.newquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

.en.flag, .en-GB.flag {
    background-image: url(images/flags/en.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.no.flag {
    background-image: url(images/flags/no.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.ro.flag {
    background-image: url(images/flags/ro.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.fa.flag {
    background-image: url(images/flags/fa.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

/* Image Galleries */
.image-gallery figure {
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery > li {
    flex-basis: 300px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
}

.image-gallery::after {
    content: "";
    flex-basis: 300px;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.image-gallery .figure:hover .overlay {
    display: block;
    opacity: .6;
}

.image-gallery .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.height-100 {
    height: 100vh
}


#loadFile {
    display: none
}

.modal-header > .modal-title, .modal-body > .body-desc, .modal-body > .photo-input, .modal-footer > .footer-title {
    text-align: center
}
.field-validation-error {
    color: var(--bs-form-invalid-color);
}
.table-row.answered-overlay {
    position: relative;
    border: 2px dotted rgba(var(--bs-success-rgb));
}
.table-row .status .fa-folder, .note .fa-folder, .answered-overlay .status .fa-lock {
    color: rgba(var(--bs-success-rgb)) !important;
}

a.latestpost-title {
    display: block;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
    .table-head div {
        margin:0;
    }
    .table-head .rounded-2 {
        border-radius:0 !important;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }
    .subforum-row.subforum-weblink {
        display: grid;
        grid-template-columns: 100%;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 30%;

        overflow: hidden;
    }

    .subforum-stats {
        display: none;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}

.accordion-button:not(.collapsed) {
    color: #F5FFFA !important;
    background-color: #6A5ACD;
    box-shadow: revert;
}
.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion-button {
    color: #F5FFFA !important;
    background-color: #6A5ACD;
    box-shadow: revert;
}
.newposts {
    color: magenta !important;
}

.event-birthday div.fc-content span.fc-title:before, .event-birthday div.my-fc-time:before {
    font-family: FontAwesome;
    content: "\f1fd\00a0";
    color: goldenrod !important
}

.event-birthday > div.fc-time:before {
    font-family: FontAwesome;
    content: "\f1fd\00a0";
    color: goldenrod !important
}

.event-birthday div.fc-content span.fc-title {
    color: goldenrod !important
}

#topic-panel a.btn{
    border-radius:50% !important;
    padding:.25rem !important;
}
#topic-panel button.btn {
    border-radius: 50% !important;
    padding: .25rem !important;
}