:root {
    --primary-header: #191970;
    --primary-bg: #8199DA;
    --primary-header-text: #F5FFFA;
    --font-size: 14px;
    --spacing: 1rem;
    --bs-dark-rgb: 25, 25, 112;
}

html, body {
    font-size: var(--font-size);
    font-family: "open sans", Verdana, Arial, helvetica;
    background-color: whitesmoke !important;
    color: var(--primary-header) !important;
}
#admin-menu a.nav-link { /*must move*/
    color: white;
}
.dropdown-menu {
    --bs-dropdown-divider-bg: whitesmoke;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #191970;
    --bs-btn-border-color: #191970;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #191970;
    --bs-btn-disabled-border-color: #191970;
}
.btn-outline-primary {
    --bs-btn-color: #191970;
    --bs-btn-border-color: #191970;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #191970;
    --bs-btn-hover-border-color: #191970;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #191970;
    --bs-btn-active-border-color: #191970;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #191970;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #191970;
    --bs-gradient: none;
}
.tooltip {
    --bs-tooltip-zindex: 1080;
    --bs-tooltip-max-width: 300px;
    --bs-tooltip-padding-x: 0.5rem;
    --bs-tooltip-padding-y: 0.25rem;
    --bs-tooltip-font-size: 0.875rem;
    --bs-tooltip-color: var(--bs-body-bg);
    --bs-tooltip-bg: #191970;
    --bs-tooltip-border-radius: var(--bs-border-radius);
    --bs-tooltip-opacity: 0.9;
    --bs-tooltip-arrow-width: 0.8rem;
    --bs-tooltip-arrow-height: 0.4rem;
}
.nav-tabs .nav-link {
    color: black !important;
}
.table-primary, .table-primary a {
    --bs-table-bg: #191970;
    --bs-table-color: #fff;
    background-color: var(--primary-header);
    color: white;
}

.subforum-title, .subforum-column {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 /* Navbar Styles */
.nav-tabs .nav-item .nav-link.active {
    background-color: var(--primary-bg);
    color: var(--primary-header);
}

.bg-dark {
    background-color: var(--primary-header) !important;
}
.bg-plugin {
    --bs-bg-opacity: 1;
    background-color: var(--primary-header) !important;
}

.text-bg-plugin {
    color: #fff !important;
}
.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #fff;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-custom .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .active > .nav-link,
.navbar-custom .navbar-nav .nav-link.show,
.navbar-custom .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-custom .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-text a {
    color: #fff;
}

.navbar-custom .navbar-text a:hover, .navbar-custom .navbar-text a:focus {
    color: #fff;
}

a {
    color: #00008B;
    text-decoration: underline;
}
a:visited {
    color: #0000FF;
    text-decoration: underline;
}
a:active,a:hover {
    color: #FF0000;
    text-decoration: underline;
}
.initial a:visited {
    color: #0000FF;
}
.initial a:hover {
    color: #FF0000;
}
.table-primary th a {
    color:white;
}

.text-muted {
    color: #fefefe !important;
}
#changeEmailForm > .text-success {
    --bs-text-opacity: 1;
    color: white,var(--bs-text-opacity) !important;
}
/* ########################################### */
/*           Forums.html                       */
/* ########################################### */

.subforum-title, .subforum-title a, .subforum-title a:active, .subforum-title a:hover, .subforum-title a:visited {
    background-color: transparent;
    color: var(--primary-header-text) !important;
    text-decoration: none;
}

.subforum-column {
    background-color: #FFF;
}
.subforum-icon {
    color: goldenrod;
}
.subforum-icon .fa-ban,.note .fa-ban {
    color: red;
}
.subforum-icon .fa-link, .note .fa-link {
    color: silver;
}

.table-row .status .fa, .note .fa {
    color: goldenrod;
}
.fa-fire, .subforum-icon .fa-fire, .table-row .status .fa-fire,.note .fa-fire {
    color: orangered;
}
/* Select all child elements except the last one */
.subforum > .accordion-collapse .subforum-row:not(:last-child) {
    /* Your styles here */
    border-bottom: 2px solid var(--primary-header);
}

/* For the smartphones */
@media screen and (max-width: 460px) {
    .subforum > .accordion-collapse .subforum-row:not(:last-child) {
        /* Your styles here */
        border-bottom: 1px solid var(--primary-header);
    }

    .body {
        display: flex;
        padding: 10px;
        margin-top: 5px;
    }
}
.blog-container{
    background-color:white;
}
.navigate {
    background-color: #eee;
    color: #666;
    padding: 3px;
}

.bar-icon {
    color: #fff;
}

/* forum info Styling */
.forum-info {
    padding: 20px;
    background-color: var(--primary-bg);
}

/* Footer Styling */

footer {
    background-color: #ddd;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */

.table-head div {
    background-color: var(--primary-header);
    font-weight: bold;
    color: var(--primary-header-text);
}
.table-head div {
    margin: 0;
}

.table-head .rounded-2, .table-head .rounded-1 {
    border-radius: 0 !important;
}
/* posts table's body  */

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply, .table-row .subscribe {
    background-color: #FFF;
}

    /* navigation path*/
    .navigate a {
        color: darkslategrey;
    }

.navigate a:hover {
    color: #0000ff;
    font-weight: bolder;
}

/* Pagination*/

.pagination a {
    color: darkslategrey;
    margin-inline: 5px;
    padding: 5px 10px;
    /*border: solid 0.5px darkslategrey;*/
}

.pagination.quicklink a {
    color: darkslategrey;
    margin-inline: 1px !important;
    padding: 1px 2px !important;
    /*border: solid 0.5px darkslategrey;*/
}
.page-link {
    background-color: #ddd;
}
.note {
    background-color: var(--primary-bg);
}

/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head {
    background-color: var(--primary-header);
    color: #fff;
}

div.comment {
    background-color: #F5F5F5;
}
div.comment.alt {
    background-color: #DCDCDC;
}
div.topic-container {
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid black;
}
div.card-body {
    padding: 0;
}
    div.card-body .body {
        margin-top: 0;
        background-color: #DCDCDC;
    }
div.card-body .body.topic {
    margin-top: 0;
    background-color: white;
}
div.card-body .body.alt {
            background-color: #F5F5F5;
        }

.body.topic {
    background-color: #F5F5F5;
}
.body .content .comment button {
    box-shadow: 4px 6px #fff;
}

/* comment section */
.comment-area input:hover {
    border: solid 1px #000000;
}
.dropdown-menu {
    --bs-dropdown-color: #FFF;
    --bs-dropdown-bg: var(--primary-header);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: .25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: .5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-item{
    color:white;
}
    .dropdown-menu a:visited {
        color: white;
    }

    .dropdown-menu a:hover {
        color: #000;
    }
.jumpto.dropdown-menu {
    background-color: whitesmoke !important;
    color: black;
    width:auto;
    padding:.5rem;
}

.jumpto.dropdown-menu a, .jumpto.dropdown-menu a:visited {
    color: black;
}
.jumpto  a.dropdown-item, .jumpto  a.dropdown-item:visited {
    color: black;
}
.editor-buttons .dropdown-menu a, .editor-buttons .dropdown-menu a:visited {
    color: #000;
}
/*Auto complete dropdown*/
.ui-menu {
    background-color: darkslategrey;
    border: lightblue 1px solid;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    color: #fff;
}

h1.bg-dark, .btn-group.btn-dark {
    background-color: #eee !important;

}
h1.text-white {
    color: #fff !important;
}
tr.bg-dark, .card-header.bg-dark, .bg-dark a, .bg-dark i{
    background-color: var(--primary-header) !important;
    color: #fff;
}

#theme-change {
    background-color: var(--primary-header);
    color: #fff;
}
.btn-secondary {
    background-color: var(--primary-bg);
}
#toggleSidebar.btn-outline-secondary:hover {
    background-color: var(--primary-bg);
}
.bg-form {
    background-color: var(--primary-bg);
}
    .bg-form h1.bg-dark {
        background-color: #6A5ACD !important;
    }

    .new-posts {
        color: magenta !important;
    }

blockquote.newquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

.en.flag, .en-GB.flag {
    background-image: url(images/flags/en.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.no.flag {
    background-image: url(images/flags/no.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.ro.flag {
    background-image: url(images/flags/ro.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

.fa.flag {
    background-image: url(images/flags/fa.png);
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
    background-size: contain;
}

/* Image Galleries */

.image-gallery .text {
    color: white;
    font-size: 18px;
}
.image-gallery .footer {
    color: white !important;
    background-color: var(--primary-header);
    font-size: 18px;
}
.image-gallery .footer a {
    color: white !important;
}
    .height-100 {
    height: 100vh
    }


#loadFile {
    display: none
}

.modal-header > .modal-title, .modal-body > .body-desc, .modal-body > .photo-input, .modal-footer > .footer-title {
    text-align: center
}
.field-validation-error {
    color: var(--bs-form-invalid-color);
}
.table-row.answered-overlay {
    position: relative;
    border: 2px dotted rgba(var(--bs-success-rgb));
}
.answered-overlay .status .fa-lock, .fa-folder.answered {
    color: rgba(var(--bs-success-rgb)) !important;
}

a.latestpost-title {
    display: block;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
    .table-head div {
        margin:0;
    }
    .table-head .rounded-2 {
        border-radius:0 !important;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }
    .subforum-row.subforum-weblink {
        display: grid;
        grid-template-columns: 100%;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 30%;

        overflow: hidden;

    }

    .subforum-stats {
        display: none;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}

.accordion-button:not(.collapsed) {
    color: var(--primary-header-text) !important;
    background-color: var(--primary-header);
    box-shadow: revert;
}
.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion-button {
    color: var(--primary-header-text) !important;
    background-color: var(--primary-header);
    box-shadow: revert;
}
.newposts {
    color: magenta !important;
}

.event-birthday span.fc-content span.fc-title:before, .event-birthday span.my-fc-time:before {
    font-family: "Font Awesome 7 Free";
    content: "\f1fd\00a0";
    color: goldenrod !important
}

.event-birthday > span.fc-time:before {
    font-family: "Font Awesome 7 Free";
    content: "\f1fd\00a0";
    color: goldenrod !important
}


.event-birthday fc-h-event .fc-event-title:after {
    content: "\00a0";
}

li.my-fc-row {
    list-style-type: none;
}
.event-birthday span.fc-content span.fc-title {
    color: goldenrod !important
}

#topic-panel a.btn{
    border-radius:50% !important;
    padding:.25rem !important;
}
#topic-panel button.btn {
    border-radius: 50% !important;
    padding: .25rem !important;
}
.table-row .status .fa.fa-stack-1x {
    color: var(--primary-header) !important;
}

.table-row .status .fa.fa-fire {
    color: red !important;
}

.password-strength-indicator.very-weak {
    background: #cf0000;
    border-color: #a60000;
}

.password-strength-indicator.weak {
    background: #f6891f;
    border-color: #c56e19;
}

.password-strength-indicator.mediocre {
    background: #eeee00;
    border-color: #d6d600;
}

.password-strength-indicator.strong {
    background: #99ff33;
    border-color: #7acc29;
}

.password-strength-indicator.very-strong {
    background: #22cf00;
    border-color: #1B9900;
}

.authors {
    border-right: 1px solid #c0c0c0;
}

.alert-danger {
    --bs-bg-opacity: 1;
    --bs-alert-bg: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
/* Donation Banner */
.donation-banner {
    background: var(--primary-header); /* pastel sky blue */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.donation-banner a {
    background: #ff7f50; /* coral button */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.donation-banner a:hover {
    background: #ff6347; /* slightly darker coral on hover */
}

.close-banner {
    color: #666;
    transition: color 0.3s ease;
}

.close-banner:hover {
    color: #000;
}