@using System.IO
@using Microsoft.AspNetCore.Hosting
@using SnitzCore.BackOffice.Controllers
@using SnitzCore.Service.Extensions
@using YG.ASPNetCore.FileManager
@using YG.ASPNetCore.FileManager.Enums
@using YG.ASPNetCore.FileManager.ViewComponentsModel
@using YG.ASPNetCore.FileManager.ViewComponentsModel.LanguageModels
@using YG.ASPNetCore.FileManager.ViewComponentsModel.LanguageModels.BuiltIn
@inject IWebHostEnvironment _environment

@{
    var member = ViewBag.MemberId as int?;
}
@section Styles {
@this.RenderYGfilemanagerCss(false,new[]{"fontawesome"},Context.Request.PathBase)
<style>
    .yg-fm-fsitems.list .fsitem{
        width:99%;
    }
</style>
}

<div style="height: 600px; margin-bottom:20px" class="mt-3">
    <p class="p-1 h5 text-danger">Important! Deleting any of these file could result in broken links if the file is referenced in a post</p>
        @await Component.InvokeAsync("FileManagerComponent", new FileManagerModel(){
            Id = "FMM1",
            RootFolder = _environment.WebRootPath + "/Content/Members/" + member,
            ApiEndPoint = Url.Action("SnitzFileApi","FileManager"),
            Config = new FileManagerConfig(){
                StorageMaxSizeMByte = 0,
                UseEncryption = false,
                UseRecycleBin = false,
                EncryptionKey = "<Your Super Secret Encryption Key>",
                DisabledFunctions = { Command.Unzip,Command.CreateNewFolder,Command.Upload,Command.CreateNewFile },
                HiddenFolders = { "bin", "runtimes", "Properties","refs", "_content", "codemirror", "Identity", "is-cache"},
                //Language = new TurkishLanguage(),                
            }
        })
</div>

@section Scripts{
    @this.RenderYGfilemanagerJavaScripts(new[]{"fontawesome.min.js"})
}