<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Forgot password Email from TCP [SUBJECT] [DATE]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .card {
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
        }
    </style>
</head>
<body>
    <div class="card" style="width: 600px; border-top-left-radius: 5%; border-top-right-radius: 5% ">
        <div class="row no-gutters pb-4" >
            <div class="col-auto">
                <img src="https://localhost:44344/Templates/images/Weak_Password.gif" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Password! <small>Reset.</small></h4>
                    <p class="card-text">
                        Dear [USER],<br />
                        <br />
                        A password reset request has been received at [FORUM] for [USER] account, if you did not request this reset, please ignore this email.
                        To reset your password, use the button below
                    </p>
                    <a href="[URL]" class="btn btn-primary">
                        Reset Password Now
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted" style="border-bottom-left-radius: 5%; border-bottom-right-radius: 5% ">
            <p>
                <b>Please keep your credentials confidential for future use. </b>
            </p>
        </div>
    </div>
</body>
</html>