@model ConfirmDialogViewModel

<modal id="passwordDlg" title="@Model.Title">
    <modal-body>
        <div id='confirm-body'>
            <p>@Model.Message</p>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="forum-pass" class="form-control" />
            </div>
        </div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <a href="#" id="btnPassYes" class="btn btn-danger">@Localizer["btnOk"]</a>
    </modal-footer>
</modal>

<storecontent asp-key="password-dialog">
    <script type="text/javascript">
        console.log("password-dialog");
        $(window).on("load",
            function (e) {
                $("#passwordDlg").on('hide.bs.modal',
                    function () {
                        //alert("close");
                        window.location.href = '/Category/Index';
                    });
                $('#passwordDlg').on('click',
                    '#btnPassYes',
                    function (e) {
                        $.ajax({
                            type: "POST",
                            url: SnitzVars.baseUrl + '/Forum/PasswordCheck',
                            data: { pwd: $('#forum-pass').val(), forumid: $('#req-forumid').val(), topicid: '0' },
                            success: function (result) {
                                //alert(result);
                                if (result) {
                                    $("#passwordDlg").off('hide.bs.modal');
                                    location.reload(true);
                                    $('#passwordDlg').modal('hide');
                                    return false;
                                } else {
                                    window.location.href = '/Category/Index';
                                }
                            },
                            error: function (error) {
                                appendAlert(error, 'error');
                                window.location.href = '/Category/Index';
                                return false;
                            }
                        });
                    });
                if ($('#req-auth').val() === 'True') {
                    $('#passwordDlg').modal('show');
                }
            });
    </script>
</storecontent>