<modal id="uploadModal" title="@Localizer["lblFileUpload"].Value">
    <modal-body>
        <div id="upload-content"></div>
        <p class="footer-title">If you're having problems uploading, try choosing a smaller image.</p>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="submitUpload" form="upload-form" type="submit" class="btn btn-success">@Localizer["btnUpload"]</button>
    </modal-footer>
</modal>


