@model bool
<div class="accordion-item">
    <h2 class="accordion-header" id="album-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#album-collapse" aria-expanded="false" aria-controls="album-collapse">
            Image Albums
        </button>
    </h2>
    <div id="album-collapse" class="accordion-collapse collapse" aria-labelledby="album-heading" data-bs-parent="#plugin-accordion">
        <div class="accordion-body">

            @if (Model)
            {
                <partial name="Admin" />

            }
        </div>
    </div>
</div>

