@model bool
@if (Model)
{
    <div class="form-check form-switch mb-3">
        <input type="checkbox" role="switch" name="STRTHANKS" id="STRTHANKS" value="1" class="form-check-input" checked="" style="transform: scale(1.4);">
        <input type="checkbox" name="STRTHANKS" value="0" checked="" style="display: none">
        <label class="form-check-label" for="STRTHANKS">Enable Post Thanks</label>
    </div>
}


