@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="post-control-btn">
    <i class="fa fa-comment-o m-1 post-reply" title="Reply to Topic" data-id="6277"></i>
    <i class="fa fa-commenting m-1 reply-quote" title="Quote Reply" data-id="22387"></i>
    <i class="fa fa-bookmark-o m-1 bookmark-add" title="Bookmark this post" data-id="6277"></i>
    <i class="fa fa-pencil m-1 reply-edit" title="Edit Reply" data-id="22387"></i>
    <i class="fa fa-trash m-1 reply-del" title="Delete Reply" data-id="22387"></i>
    <i class="fa fa-lock admin m-1 post-lock" title="Lock Topic?" data-id="6277" data-status="1"></i>
</div>