@model Advert
<div class="sidebar-advert mb-3">
    <a href="@Model.Url" title="@Model.AltText">
        <image src="/Content/BannerAds/@Model.Image" class="rounded mx-auto d-block" alt="@Model.AltText"></image>
    </a>
</div>
