@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SnitzCore.BackOffice.ViewModels.TranslationViewModel

@{
    ViewBag.Title = "Translation Manager";
    Layout = "_MasterLayout";
}
<div class="mt-3">
    <legend>@ViewBag.Title</legend>
    <hr />
    <form asp-action="Search" asp-controller="LanguageManager" method="POST" class="mt-3">
        <input name="filter" class="form-control" id="filter"/>
        <button type="submit" class="btn btn-primary">Find</button>
    </form>    
    <ul class="list-unstyled"></ul>
    <select id="ResourceSet" class="form-select mb-3">
        @foreach (var lang in Model.Resources.GroupBy(l=>l.ResourceSet))
        {
            <option value="@lang.Key">@lang.Key</option>
        }
    </select>
    <div class="card" id="resource-card"></div>


</div>
@section Scripts
{
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(document).on("change", "#ResourceSet",
            function() {
                $('#resource-card').load("/LanguageManager/ResourceSet/" + $(this).val() + "/?filter=" + $('#filter').val());
            });
        $(document).ready(function() {
            $('#resource-card').load("/LanguageManager/ResourceSet/Admin/?filter=" + $('#filter').val());
            });
    </script>
}