<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    @await RenderSectionAsync("MetaData", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    @await Component.InvokeAsync("SnitzThemeCss")

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="d-flex flex-column" style="min-height: 100vh;">
        <partial name="MainNav"/>

        <div class="container row mt-3">
            <div class="col-3"><partial name="_Menu"/></div>

                <main role="main" class="col-9 pb-3 bg-form rounded">
                @RenderBody()
            </main>
        </div>
        <partial name="Footer"/>
    </div>
    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="ValidationScriptsPartial" />
</body>
</html>
