<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    @await RenderSectionAsync("MetaData", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    @await Component.InvokeAsync("SnitzThemeCss")

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<div class="d-flex flex-column" style="min-height: 100vh;">
    <partial name="MainNav"/>

    <div class="container mt-3">
        <partial name="_Menu" />
        <main role="main" class="p-2 bg-form rounded">
            @RenderBody()
        </main>
    </div>
    <partial name="Footer"/>
</div>

    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <partial name="ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
