<ul class="nav nav-tabs" role="tablist" id="admin-nav">
    <li class="nav-item" >
        <a href="~/Admin/" class="nav-link active" id="main-config">Main Config</a>
    </li>
    <li class="nav-item"><a href="~/Admin/EmailConfig" class="nav-link" id="email-setup">Email Setup</a></li>
    <li class="nav-item"><a href="~/Admin/Forum" class="nav-link" id="forum-options">Forum Options</a></li>
    <li class="nav-item"><a href="~/Admin/Features" class="nav-link" id="feature-config">Features</a></li>
    <li class="nav-item"><a href="~/Admin/Members" class="nav-link" id="member-settings">Membership Settings</a></li>
    <li class="nav-item"><a href="~/LanguageManager/" class="nav-link" id="lang-settings">Translation</a></li>
    <li class="nav-item"><a href="~/LogView/" class="nav-link" id="log-viewer">Log Viewer</a></li>

</ul>

