
<h3>Admin Menu</h3>
<ul class="list-unstyled">
    <li><a href="~/Admin/">Main Config</a></li>
    <li><a href="~/Admin/EmailConfig">Email Setup</a></li>
    <li><a href="~/Admin/Forum">Forum Options</a></li>
    <li><a href="~/Admin/Features">Features</a></li>
    <li><a href="~/Admin/Members">Membership Settings</a></li>
</ul>
