<ul class="nav nav-pills nav-justified">
    <a href="~/Admin/" class="nav-link">Main Config</a>
    <a href="~/Admin/EmailConfig" class="nav-link">Email Setup</a>
    <a href="~/Admin/Forum" class="nav-link">Forum Options</a>
    <a href="~/Admin/Features" class="nav-link">Features</a>
    <a href="~/Admin/Members" class="nav-link">Membership Settings</a>
    <a href="~/LanguageManager/" class="nav-link">Language Settings</a>
    @* <a href="/Admin/Restart" class="btn btn-danger">Restart</a> *@
</ul>

