<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    @await RenderSectionAsync("MetaData", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css">
    @await Component.InvokeAsync("SnitzThemeCss") 
    <link rel="stylesheet" href="~/css/busy.min.css">
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .tooltip-inner {
            text-align: left !important;
        }
    </style>
</head>
<body>
    <partial name="_BusyPartial" />
    <div class="d-flex flex-column" style="min-height: 100vh;">
        <partial name="MainNav" />
        <div class="container mt-6 flex-grow-1">
            <div class="d-flex flex-wrap">
                <div class="w-20 flex-grow-0 bg-light border p-3">
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav" role="navigation" id="admin-nav">
                            <li class="nav-item">
                                <a href="~/Admin/" class="nav-link active" id="main-config">Main Config</a>
                            </li>
                            <li class="nav-item"><a href="~/Admin/EmailConfig" class="nav-link" id="email-setup">Email Setup</a></li>
                            <li class="nav-item"><a href="~/Admin/Forum" class="nav-link" id="forum-options">Forum Options</a></li>
                            <li class="nav-item"><a href="~/Admin/Features" class="nav-link" id="feature-config">Features</a></li>
                            <li class="nav-item"><a href="~/Admin/Members" class="nav-link" id="member-settings">Membership Settings</a></li>
                            <li class="nav-item"><a href="~/LanguageManager/" class="nav-link" id="lang-settings">Translation</a></li>
                            <li class="nav-item"><a href="~/LogView/" class="nav-link" id="log-viewer">Log Viewer</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="w-80 flex-grow-1 bg-light border">
                    @RenderBody()
                </div>
            </div>
        </div>
        <partial name="Footer" />
    </div>

    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <partial name="GlobalJs" />
    <partial name="ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/jquery/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>

    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(window).on('beforeunload', function(){
            displayBusyIndicator();
        });
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                                        ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });
        $(".nav-link").on("click",function(){
            localStorage.removeItem('activeTab')
        });

        new bootstrap.Tooltip(document.body, {
            selector: "[data-bs-toggle='tooltip']"
        });

        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
</body>
</html>

