@model SnitzCore.BackOffice.ViewModels.ArchiveViewModel

<form asp-action="ArchiveForum" asp-controller="Archive" id="archive-form" data-ajax="true" data-ajax-complete="ArchiveStarted">
    <div class="modal-body">


        <div class="form-group">
            <label class="control-label">Archive Topics which are older than </label>
            <select class="form-control" id="MonthsOlder" name="MonthsOlder">
                <option value="1">1 Month</option>
                <option value="2">2 Months</option>
                <option value="3">3 Months</option>
                <option value="4">4 Months</option>
                <option value="5">5 Months</option>
                <option value="6">6 Months</option>
                <option value="12">1 Year</option>
            </select>
        </div>
        <div class="form-group">
            Posts will be archived in the background
            @Html.HiddenFor(m => m.ForumId)
        </div>

    </div>
</form>
