@model SnitzCore.Service.FaqCategory

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Category" id="faq-form" class="needs-validation p-2" novalidate data-ajax="true" data-ajax-update="#faq-content" data-ajax-success="faqcompleted">
            @Html.HiddenFor(Model=>Model.Id)
            <div class="mb-3">
                <label class="control-label">Description</label>
                <input name="Description" id="Description" class="form-control" required value="@Model.Description" placeholder="Title for Category"/>
                <div class="invalid-feedback">You must provide a Description</div>
            </div>
            <div class="mb-3">
                <label class="control-label">Order</label>
                <input name="Order" id="Order" type="number" class="form-control" value="@Model.Order" />
            </div>            
            <div class="mb-3">
                <label class="control-label">Roles</label>
                <input name="Roles" id="Roles" class="form-control" value="@Model.Roles" placeholder="List of Roles allowed to view Category"/>
            </div>
        </form>
    </div>
</div>


