<h3>🍪 Cookie Policy</h3>
<p>&nbsp;English</p>
<h4>Hva er informasjonskapsler?</h4>
<p>Informasjonskapsler er små tekstfiler som nettsteder plasserer og lagrer på brukernes datamaskiner og mobile enheter. De har forskjellige formål, inkludert å forbedre brukeropplevelsen og analysere nettstedstrafikken.</p>
<h4>Hvorfor bruker vi informasjonskapsler? </h4>
<p>Vi bruker informasjonskapsler for å:</p>
<ol>
    <li>Forbedre funksjonaliteten</li>
    <li>Personifisere innhold.</li>
    <li>Forstå brukeradferd.</li>
    <li>Analyse av nettstedets ytelse.</li>
</ol>
<p>Typer informasjonskapsler vi bruker:</p>
<ol>
    <li>
        Øktinformasjonskapsler: Disse er midlertidige og utløper etter en nettleserøkt.
        
    </li>
    <li>Vedvarende informasjonskapsler: Disse varer utover en økt og brukes til å tilpasse innhold.</li>
</ol>
<h4>Hvordan kan du administrere informasjonskapsler? </h4>
<p>Du har følgende alternativer:</p>
<ol>
    <li>Godta alle informasjonskapsler: Ved å fortsette å bruke nettstedet vårt, samtykker du til bruk av informasjonskapsler. </li>
    <li>Informasjonskapselinnstillinger: <a href="#">Klikk her</a> for å justere innstillingene dine.</li>
</ol>

