<h3>🍪 Cookie Policy</h3>
<p>&nbsp;English</p>
<h4>What Are Cookies?</h4>
<p>Cookies are small text files that websites place and store on users&rsquo; computers and mobile devices. They serve various purposes, including improving user experience and analyzing site traffic.</p>
<h4>Why Do We Use Cookies?</h4>
<p>We use cookies to:</p>
<ol>
    <li>Enhance functionality</li>
    <li>Personalize content.</li>
    <li>Understand user behavior.</li>
    <li>Analyze site performance.</li>
</ol>
<p>Types of Cookies We Use:</p>
<ol>
    <li>Session Cookies: These are temporary and expire after a browsing session.</li>
    <li>Persistent Cookies: These last beyond a session and are used for personalizing content.</li>
</ol>
<h4>How Can You Manage Cookies?</h4>
<p>You have the following options:</p>
<ol>
    <li>Accept All Cookies: By continuing to use our website, you consent to cookie usage.</li>
    <li>Cookie Settings: <a href="#">Click here</a> to adjust your preferences.</li>
</ol>