<div class="cookie-policy-header" dir="rtl">
    <h3>🍪 خط مشی کوکی</h3>
    <h4>کوکی‌ها چیستند؟</h4>
    <p>
        کوکی‌ها فایل‌های متنی کوچکی هستند که وب‌سایت‌ها روی رایانه‌ها و دستگاه‌های تلفن همراه کاربران قرار می‌دهند و ذخیره می‌کنند. آن‌ها اهداف مختلفی از جمله بهبود تجربه کاربری و تجزیه و تحلیل ترافیک سایت را دنبال می‌کنند.
    </p>
    <div dir="ltr">
        <h4>Why Do We Use Cookies?</h4>
        <p>We use cookies to:</p>
        <ol>
            <li>Enhance functionality</li>
            <li>Personalize content.</li>
            <li>Understand user behavior.</li>
            <li>Analyze site performance.</li>
        </ol>
        <p>Types of Cookies We Use:</p>
        <ol>
            <li>Session Cookies: These are temporary and expire after a browsing session.</li>
            <li>Persistent Cookies: These last beyond a session and are used for personalizing content.</li>
        </ol>
        <h4>How Can You Manage Cookies?</h4>
        <p>You have the following options:</p>
        <ol>
        <li>Accept All Cookies: By continuing to use our website, you consent to cookie usage.</li>
        <li>Cookie Settings: <a href="#">Click here</a> to adjust your preferences.</li>
        </ol>
    </div>
</div>