@{
    ViewBag.Title = "500 Internal Server Error";
}
@section MetaData{
    <title>@ViewBag.Title - @Config.Value.strForumTitle</title>
    <meta name="title" content="@ViewBag.Title - @Config.Value.strForumTitle" />
}
@section Styles{
    <style>
        .error-container {
            text-align: center;
        }

        .error-code {
            font-size: 8rem;
            font-weight: bold;
            color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
            
        }

        .error-message {
            font-size: 1.5rem;
            margin: 20px 0;
        }

        .error-description {
            font-size: 1rem;
            color: #555;
        }

    </style>
}

<div class="error-container">
    <div class="error-code">Oops!</div>
    <div class="error-message">Something went wrong.</div>
    <div class="error-description mb-5">
        Our server encountered an unexpected issue. Please try again later 
    </div>

</div>


