<div class="forum-info note rounded mt-1">
    <span><i class="fa fa-frown-o"></i>&nbsp; Unanswered Topic</span><br>
    <span><i class="fa fa-folder-o"></i>&nbsp; No new posts</span>&nbsp;<span><i class="fa fa-folder-o" style="color: magenta;"></i>&nbsp; New posts</span><br>
    <span><i class="fa fa-fire"></i>&nbsp; Popular Topic</span><br>
    <span><i class="fa fa-rocket"></i>&nbsp; High Engagement Topic</span><br>
    <span><i class="fa fa-lock"></i>&nbsp; Closed Topic</span><br>
    <span><i class="fa fa-thumb-tack"></i>&nbsp; Sticky Topic</span>
</div>
