
<p>
    In order to use these forums, users are required to provide a username, password and e-mail address. 
    Neither the Administrators of these forums, nor the Moderators participating, are responsible for the privacy practices of any user. 
    Remember that all information that is disclosed in these areas becomes public information and you should exercise caution when deciding to share any of your personal information. Any user who finds material posted by another user objectionable is encouraged to contact us via e-mail. We are authorized by you to remove or modify any data submitted by you to these forums for any reason we feel constitutes a violation of our policies, whether stated, implied or not.
</p>

<p>
    This site may contain links to other web sites and files. 
    We have no control over the content and can not ensure it will not be offensive or objectionable. 
    We will, however, remove links to material that we feel is inappropriate as we become aware of them.
</p>

<p>
    Cookies must be turned on in your browser to participate as a user in these forums. 
    Cookies are used here to hold your username and password and viewing options, allowing you to login.
</p>

<p>
    By pressing the 'Agree' button, you agree that you, the user, are @SnitzConfig.GetIntValue("STRMINAGE", 14) years of age or over. 
    You are fully responsible for any information or file supplied by this user. 
    You also agree that you will not post any copyrighted material that is not owned by yourself or the owners of these forums. 
    In your use of these forums, you agree that you will not post any information which is vulgar, harassing, hateful, threatening, invading of others privacy, sexually oriented, or violates any laws.
</p>

<p>
    If you have any questions about this privacy statement or the use of these forums, please contact the forum administrator
</p>


