@using BbCodeFormatter
@{
    var title = SnitzConfig.GetValue("STRANNOUNCETITLE");
    var message = SnitzConfig.GetValue("STRANNOUNCE");
}
<!-- Hero -->
<div class="container-fluid text-sm-center p-3 bg-warning text-dark rounded-4 shadow-sm">
    <h2>@title</h2>
    <p>
        @Html.Raw(BbCodeProcessor.Format(message))
    </p>
</div>
<!-- Hero -->
