@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        @Localizer["CookieConsent"] <a asp-area="" asp-controller="Home" asp-action="CookiePolicy">Learn More</a>.
        <button type="button" class="btn btn-success accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">@Localizer["CookieBtn"]</span>
        </button>
    </div>
    <storecontent asp-key="cookie-consent">
    <script type="text/javascript">
            $(document).on("click", ".accept-policy", function (event) {
                document.cookie = $(".accept-policy").data("cookie-string");
                $("#cookieConsent").hide();
            });
    </script>
    </storecontent>
}
