@using System.Net
@{

    Layout = null;
    TempData["errtest"] = ViewBag.Error;
}
<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p> @Html.Raw(WebUtility.HtmlDecode(ViewBag.Error) )</p>