
<footer>
    <span class="flo">@Html.Raw(SnitzConfig.ForumTitle) - &copy; @string.Format(SnitzConfig.Copyright, DateTime.UtcNow.Year) </span>
    <span><br /><a href="~/Privacy">Privacy</a> | <a href="~/CookiePolicy">Cookie Policy</a><br /></span>
    <span snitz-if="@(SnitzConfig.GetIntValue("INTPAGETIMER") == 1)" class="page-timer" id="loadTime"></span>
</footer>
