<div class="mb-3 p-2">
    <button type="button" class="btn btn-danger cancel" onclick="history.go(-1);">@Localizer["btnCancel"]</button>
    <button type="reset" class="btn btn-warning ">@Localizer["btnReset"]</button>
    <button type="submit" id="btn-submit" value="Post" class="btn btn-success">@Localizer["btnPost"]</button>
</div>