@inject IGroups _groupservice;

@{
    List<GroupName> groups = _groupservice.GetNames();
    if (groups != null)
    {
        <div class="form-group row">
            <label for="GroupId" class="col-sm-4 col-form-label">@Localizer["CategoryGroups"]</label>
            <div class="col-sm-7">
                <select class="form-select" name="GroupId" onchange="$(this).closest('form').submit();">
                    @foreach (var group in groups)
                    {
                        <option value="@group.Id" selected-val="@ViewBag.GroupId">@group.Name</option>
                    }
                </select>
            </div>
        </div>

    }
}
