
<a class="navbar-brand" href="@SnitzConfig.GetValueWithDefault("STRHOMEURL","/")" aria-label="@Html.Raw(SnitzConfig.ForumTitle) Home page">
    <snitz-forum-logo logo="wizard.webp" use-theme=true></snitz-forum-logo>
</a>
