@{
    
}
<a class="navbar-brand" href="@SnitzConfig.GetValueWithDefault("STRHOMEURL","/")" aria-label="@Html.Raw(SnitzConfig.ForumTitle) Home page">
    <snitz-forum-logo logo="wizard.webp" use-theme=true></snitz-forum-logo>
    @* <img src="@SnitzConfig.RootFolder/images/wizard.webp?height=50" height="50" loading="lazy" alt="@Html.Raw(SnitzConfig.ForumTitle) logo"> *@
</a>
