@model ConfirmDialogViewModel
<div id="passwordDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="passwordDlgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-danger">X</a>
                <h4 class="text-bg-warning">@Model.Title</h4>
            </div>
            <div class="modal-body" id="confirm-body">
                <p>@Model.Message</p>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="forum-pass" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnPassYes" class="btn btn-danger">@Localizer["btnOk"]</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-secondary">@Localizer["btnCancel"]</a>
            </div>
        </div>
    </div>
</div>
<storecontent asp-key="password-dialog">
    <script type="text/javascript">
        $(window).on("load",
            function (e) {
                $("#passwordDlg").on('hide.bs.modal',
                    function () {
                        //alert("close");
                        window.location.href = '/Category/Index';
                    });
                $('#passwordDlg').on('click',
                    '#btnPassYes',
                    function (e) {
                        $.ajax({
                            type: "POST",
                            url: SnitzVars.baseUrl + '/Forum/PasswordCheck',
                            data: { pwd: $('#forum-pass').val(), forumid: $('#req-forumid').val(), topicid: '0' },
                            success: function (result) {
                                //alert(result);
                                if (result) {
                                    $("#passwordDlg").off('hide.bs.modal');
                                    location.reload(true);
                                    $('#passwordDlg').modal('hide');
                                    return false;
                                } else {
                                    window.location.href = '/Category/Index';
                                }
                            },
                            error: function (error) {
                                alert(error);
                                window.location.href = '/Category/Index';
                                return false;
                            }
                        });
                    });
                if ($('#req-auth').val() === 'True') {
                    $('#passwordDlg').modal('show');
                }
            });
    </script>
</storecontent>