@model ConfirmDialogViewModel
<div id="passwordDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="passwordDlgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-danger">X</a>
                <h4 class="text-bg-warning">@Model.Title</h4>
            </div>
            <div class="modal-body" id="confirm-body">
                <p>@Model.Message</p>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="forum-pass" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnPassYes" class="btn btn-danger">@Localizer["btnOk"]</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-secondary">@Localizer["btnCancel"]</a>
            </div>
        </div>
    </div>
</div>