<div class="donation-banner mb-3 rounded shadow " id="donationBanner" style="z-index:revert;">
    🌟 Love this site? Help keep it running 👉
    <a asp-action="Donate" asp-controller="Paypal" title="Donate via Paypal">Support Us</a>
    <span class="close-banner" onclick="closeBanner()">✖</span>
</div>
