@model MVCForum.ViewModels.Post.ApproveTopicViewModal
@{
    var controller = "Topic";
    if(Model.IsReply)
    {
        controller = "Reply";
    }
}
<div class="container" id="approvalForm">
    <form id="moderateForm" asp-controller="@controller" asp-action="ModeratePost" data-ajax="true" class="needs-validation" novalidate data-toggle="validator">
        @Html.HiddenFor(m => m.Id)
        <div class="form-horizontal">
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="EmailAuthor" type="checkbox" name="EmailAuthor" id="emailAuthor">
                    <label class="form-check-label" for="emailAuthor">Send email to Author</label>
                </div>
            </div>
            <div class="mb-3">
                <textarea disabled class="form-control" rows="4" name="ApprovalMessage" id="approvalMessage" placeholder="Add an extra message to the email">@Model.ApprovalMessage</textarea>
            </div>
            <div class="mb-3 has-validation position-relative">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="PostStatus" id="inlineRadio1" value="Approve" required>
                    <label class="form-check-label" for="inlineRadio1">Approve</label> 
                    <div class="invalid-tooltip">Please select at least one</div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="PostStatus" id="inlineRadio2" value="Reject" required>
                    <label class="form-check-label" for="inlineRadio2">Reject</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="PostStatus" id="inlineRadio3" value="OnHold" checked="@(Model.PostStatus=="OnHold")" required>
                    <label class="form-check-label" for="inlineRadio3">Hold</label>
                </div>

            </div>

        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.unobtrusive.parse('#moderateForm');
            $('body').on('change', '#emailAuthor', function () {
                $('#approvalMessage').prop("disabled", $('#emailAuthor').prop('checked') == false);
            });
        });
    </script>
</div>


 