<div class="btn-toolbar editor-buttons" role="toolbar">
    <!-- Text styling -->
    <div class="btn-group btn-group-sm">
        <div class="btn-group btn-group-sm">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Select a Font style">
                Font
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2">
                <li><a class="sel-postform" data-label="font" data-first="[font=Arial]" data-last="[/font=Arial]" href="#" style="font-family: Arial, Helvetica, sans-serif" data-toggle="tooltip" title="Arial">Arial</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Arial Black]" data-last="[/font=Arial Black]" href="#" style="font-family: Arial Black, Gadget, sans-serif" data-toggle="tooltip" title="Arial Black">Arial Black</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Book Antiqua]" data-last="[/font=Book Antiqua]" href="#" data-toggle="tooltip" style="font-family: Palatino Linotype, Book Antiqua, Palatino, serif" title="Book Antiqua">Book Antiqua</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Century Gothic]" data-last="[/font=Century Gothic]" href="#" data-toggle="tooltip" style="font-family: Century Gothic" title="Century Gothic">Century Gothic</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Comic Sans MS]" data-last="[/font=Comic Sans MS]" href="#" data-toggle="tooltip" style="font-family: Comic Sans MS, cursive, sans-serif" title="Comic Sans MS">Comic Sans MS</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Courier New]" data-last="[/font=Courier New]" href="#" data-toggle="tooltip" style="font-family: Courier New, Courier, monospace" title="Courier New">Courier New</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Georgia]" data-last="[/font=Georgia]" href="#" data-toggle="tooltip" style="font-family: Georgia, serif" title="Georgia">Georgia</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Impact]" data-last="[/font=Impact]" href="#" data-toggle="tooltip" style="font-family: Impact, Charcoal, sans-serif" title="Impact">Impact</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Lucida]" data-last="[/font=Lucida]" href="#" data-toggle="tooltip" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif" title="Lucida">Lucida</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Lucida Console]" data-last="[/font=Lucida Console]" href="#" data-toggle="tooltip" style="font-family: Lucida Console, Monaco, monospace" title="Lucida Console">Lucida Console</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Tahoma]" data-last="[/font=Tahoma]" href="#" data-toggle="tooltip" style="font-family: Tahoma, Geneva, sans-serif" title="Tahoma">Tahoma</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Times New Roman]" data-last="[/font=Times New Roman]" href="#" data-toggle="tooltip" style="font-family: Times New Roman, Times, serif" title="Times New Roman">Times New Roman</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Trebuchet]" data-last="[/font=Trebuchet]" href="#" data-toggle="tooltip" style="font-family: Trebuchet MS, Helvetica, sans-serif" title="Trebuchet MS">Trebuchet MS</a></li>
                <li><a class="sel-postform" data-label="font" data-first="[font=Verdana]" data-last="[/font=Verdana]" href="#" data-toggle="tooltip" style="font-family: Verdana, Geneva, sans-serif" title="Verdana">Verdana</a></li>
            </ul>
            <span style="display: none;" class="btn-help">Font Tag<br>Sets the font face of the enclosed text.<br>Use: [font=XXX]The font of this text is XXX[/font=XXX]</span>
            <span style="display: none;" class="btn-help"></span>
        </div>
        <div class="btn-group btn-group-sm">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Select a Font size" aria-expanded="false">
                Size
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2" data-label="size">
                <li><a class="sel-postform" data-label="size" data-first="[size=1]" data-last="[/size=1]" href="#" data-toggle="tooltip" style="font-size: x-small" title="x-small">x-small</a></li>
                <li><a class="sel-postform" data-label="size" data-first="[size=2]" data-last="[/size=2]" href="#" data-toggle="tooltip" style="font-size: small" title="small">small</a></li>
                <li><a class="sel-postform" data-label="size" data-first="[size=3]" data-last="[/size=3]" href="#" data-toggle="tooltip" style="font-size: medium" title="medium">medium</a></li>
                <li><a class="sel-postform" data-label="size" data-first="[size=4]" data-last="[/size=4]" href="#" data-toggle="tooltip" style="font-size: large" title="large">large</a></li>
                <li><a class="sel-postform" data-label="size" data-first="[size=5]" data-last="[/size=5]" href="#" data-toggle="tooltip" style="font-size: x-large" title="x-large">x-large</a></li>
                <li><a class="sel-postform" data-label="size" data-first="[size=6]" data-last="[/size=6]" href="#" data-toggle="tooltip" style="font-size: xx-large" title="xx-large">xx-large</a></li>
            </ul>
            <span style="display: none;" class="btn-help">Font Size Tag<br>Sets the text size, possible values are 1 to 6, 1 being the smallest.<br>Use: [size=XXX]This is size XXX text[/size=XXX]</span>
            <span style="display: none;" class="btn-help"></span>
        </div>
        <div class="btn-group btn-group-sm">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Select text clour" aria-expanded="false">
                Colour
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2" style="">
                <li><a class="sel-postform" data-label="colour" data-first="[black]" data-last="[/black]" href="#" data-toggle="tooltip" style="color: black !important;" title="Black">Black</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[red]" data-last="[/red]" href="#" data-toggle="tooltip" style="color: red !important;" title="Red">Red</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[navy]" data-last="[/navy]" href="#" data-toggle="tooltip" style="color: navy !important;" title="Navy">Navy</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[maroon]" data-last="[/maroon]" href="#" data-toggle="tooltip" style="color: maroon !important;" title="Maroon">Maroon</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[green]" data-last="[/green]" href="#" data-toggle="tooltip" style="color: green !important;" title="Green">Green</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[orange]" data-last="[/orange]" href="#" data-toggle="tooltip" style="color: orange !important;" title="Orange">Orange</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[purple]" data-last="[/purple]" href="#" data-toggle="tooltip" style="color: purple !important;" title="Purple">Purple</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[blue]" data-last="[/blue]" href="#" data-toggle="tooltip" style="color: blue !important;" title="Blue">Blue</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[brown]" data-last="[/brown]" href="#" data-toggle="tooltip" style="color: brown !important;" title="Brown">Brown</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[teal]" data-last="[/teal]" href="#" data-toggle="tooltip" style="color: teal !important;" title="Teal">Teal</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[yellow]" data-last="[/yellow]" href="#" data-toggle="tooltip" style="color: yellow !important;" title="Yellow">Yellow</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[beige]" data-last="[/beige]" href="#" data-toggle="tooltip" style="color: beige !important;" title="Beige">Beige</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[pink]" data-last="[/pink]" href="#" data-toggle="tooltip" style="color: pink !important;" title="Pink">Pink</a></li>
                <li><a class="sel-postform" data-label="colour" data-first="[limegreen]" data-last="[/limegreen]" href="#" data-toggle="tooltip" style="color: limegreen !important;" title="Limegreen">Limegreen</a></li>
            </ul>
            <span style="display: none;" class="btn-help">Font Colour Tag<br>Sets the text color, any named colour can be used.<br>Use: [XXX]This is XXX text[/XXX]<br> <span style="color:" inherit="">This is XXX text</span></span>
            <span style="display: none;" class="btn-help"></span>
        </div>
        <!-- Alignment -->
        <div class="btn-group btn-group-sm">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Text alignment &amp; direction options" aria-expanded="false">
                Align
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2" style="width: 225px;">
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="rtl" data-toggle="tooltip" data-first="[rtl]" data-last="[/rtl]" title="Right to left tag">
                        <span class="">RTL</span>&nbsp;Right to left tag
                    </a>
                    <span style="display: none;" class="btn-help">
                        RTL direction Tag:
                        Wraps the selected text in a span tag with dir=rtl. Useful for writing rtl text in an ltr based forum<br>Use: [rtl]This is some rtl text[/rtl]<br><span dir="rtl" class="pull-right">This is some rtl text</span>
                    </span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="right" data-toggle="tooltip" data-first="[right]" data-last="[/right]" title="Text-Align right">
                        <span class="fa fa-align-right "></span>&nbsp;&nbsp;&nbsp;&nbsp;Text-Align right
                    </a>
                    <span style="display: none;" class="btn-help">Align right causes the selected text to be aligned with the right edge.<br>Use: [right]This is some right aligned text[/right]<br><span class="pull-right">This is some right aligned text</span></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="center" data-toggle="tooltip" data-first="[center]" data-last="[/center]" title="Text-Align middle">
                        <span class="fa fa-align-center "></span>&nbsp;&nbsp;&nbsp;&nbsp;Text-Align middle
                    </a>
                    <span style="display: none;" class="btn-help">Center causes the selected text to be centered.<br>Use: [center]This is some centered text[/center]<br><div class="text-center"><span style="width:" 100%="" class="text-center">This is some centered text</span></div></span>
                    <div style="display: none;"></div>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="left" data-toggle="tooltip" data-first="[left]" data-last="[/left]" title="Text-Align left">
                        <span class="fa fa-align-left "></span>&nbsp;&nbsp;&nbsp;&nbsp;Text-Align left
                    </a>
                    <span style="display: none;" class="btn-help">Align left causes the selected text to be aligned with the left edge.<br>Use: [left]This is some left aligned text[/left]<br><span class="text-left">This is some left aligned text</span></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="ltr" data-toggle="tooltip" data-first="[ltr]" data-last="[/ltr]" title="Left to right tag">
                        <span class="">LTR</span>&nbsp;Left to right tag
                    </a>
                    <span style="display: none;" class="btn-help">
                        LTR direction Tag:
                        Wraps the selected text in span with dir=ltr. Useful for writing ltr text in an rtl based forum<br>Use: [ltr]This is some ltr text[/ltr]<br><span dir="ltr" class="pull-left">This is some ltr aligned text</span>
                    </span>
                </li>
            </ul>
            <span style="display: none;" class="btn-help">Font Tag<br>Sets the font face of the enclosed text.<br>Use: [font=XXX]The font of this text is XXX[/font=XXX]</span>
            <span style="display: none;" class="btn-help"></span>
        </div>
        <!-- Format -->
        <div class="btn-group btn-group-sm">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Text formatting tags">
                Format
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2" style="">
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="bold" data-toggle="tooltip" data-first="[b]" data-last="[/b]" title="Bold">
                        <span id="inner" class="fa fa-bold"></span>&nbsp;&nbsp;Bold
                    </a>
                    <span style="display: none;" class="btn-help">Bold Tag makes the enclosed text bold<br>Use: [b]This is some text[/b]<br><b>This is some text</b></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="italic" data-toggle="tooltip" data-first="[i]" data-last="[/i]" title="Italicise">
                        <span class="fa fa-italic"></span>&nbsp;&nbsp;Italicise
                    </a>
                    <span style="display: none;" class="btn-help">Italicise Tag makes the enclosed text italics<br>Use: [i]This is some italicised text[/i]<br><i>This is some italicised text</i></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="underline" data-toggle="tooltip" data-first="[u]" data-last="[/u]" title="Underline">
                        <span class="fa fa-underline"></span>&nbsp;&nbsp;Underline
                    </a>
                    <span style="display: none;" class="btn-help">Underline Tag underlines the enclosed text<br>Use: [u]This is some underlined text[/u]<br><span class="underline">This is some underlined text</span></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="strike" data-toggle="tooltip" data-first="[s]" data-last="[/s]" title="Strikethrough">
                        <span class="fa fa-strikethrough"></span>&nbsp;&nbsp;Strikethrough
                    </a>
                    <span style="display: none;" class="btn-help">Strike-through causes the selected text to have a line drawn through it.<br>Use: [s]This is some stricken text[/s]<br><del>This is some stricken text</del></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="9" href="#" class="btn-postform" data-label="sup" data-toggle="tooltip" data-first="[sup]" data-last="[/sup]" title="Superscript">
                        <span class="fa fa-superscript"></span>&nbsp;&nbsp;Superscript
                    </a>
                    <span style="display: none;" class="btn-help">A superscript is a number, figure, symbol, or indicator that is smaller than their normal line of type and is set slightly above it. <br>Use: y=mc[sup]2[/sup]<br>y=mc<sup>2</sup></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="9" href="#" class="btn-postform" data-label="sub" data-toggle="tooltip" data-first="[sub]" data-last="[/sub]" title="Subscript">
                        <span class="fa fa-subscript"></span>&nbsp;&nbsp;Subscript
                    </a>
                    <span style="display: none;" class="btn-help">A subscript is a number, figure, symbol, or indicator that is smaller than their normal line of type and is set slightly below it. <br>Use: H[sub]2[/sub]O<br>H<sub>2</sub>O</span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
                <li>
                    <a tabindex="10" href="#" class="btn-postform" data-label="rule" data-toggle="tooltip" data-first="[hr]" data-last="" title="Horizontal line">
                        <span class="fa fa-ellipsis-h "></span>&nbsp;&nbsp;Horizontal line
                    </a>
                    <span style="display: none;" class="btn-help">Horizontal rule creates a horizontal line accros your post.<br>Use: [hr]<br><hr></span>
                    <span style="display: none;" class="btn-help"></span>
                </li>
            </ul>
            <span style="display: none;" class="btn-help"></span>
            <span style="display: none;" class="btn-help"></span>
        </div>
        <!-- List styling -->
        <div class="btn-group btn-group-sm d-none d-sm-block">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="list">
                <span class="fa fa-list "></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2">
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="numbered" data-first="[list=1][*]" data-last="[/*][/list=1]" title="Numeric list"><span class="fa fa-list-ol "></span>&nbsp;Numeric list</a><span></span><span style="display: none;" class="btn-help"> Numeric List</span></li>
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="alpha" data-first="[list=A][*]" data-last="[/*][/list=A]" title="Alphabetic list"><span class="fa fa-list"></span>&nbsp;Alphabetic list</a><span></span><span style="display: none;" class="btn-help"> Alphabetic list</span></li>
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="unordered" data-first="[list][*]" data-last="[/*][/list]" title="Unordered list"><span class="fa fa-list-ul"></span>&nbsp;Unordered list</a><span></span><span style="display: none;" class="btn-help"> Unordered list</span></li>
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="listitem" data-first="[*]" data-last="[/*]" title="List item">List item</a><span></span><span style="display: none;" class="btn-help">!*en_btnHelp.hlpList_Item*!</span></li>
            </ul>
        </div>
        <!-- Tables -->
        <div class="btn-group btn-group-sm d-none d-md-block">
            <button tabindex="10" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Table Tag (table)">
                <span class="fa fa-table "></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu p-2">
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="table" data-first="[table class=&quot;&quot;]" data-last="[/table]" title="Table Tag (table)"><span class="fa fa-table "></span>&nbsp;Table</a><span></span><span style="display: none;" class="btn-help">Table Tag adds a html table tag</span></li>
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="trow" data-first="[tr]" data-last="[/tr]" title="Table Row (tr)"><span class="fa fa-list-ul"></span>&nbsp;Row</a><span></span><span style="display: none;" class="btn-help">Adds a table row tag</span></li>
                <li><a href="#" data-toggle="tooltip" class="btn-postform" data-label="tcol" data-first="[td]" data-last="[/td]" title="Table cell (td)"><span class="fa fa-square-o"></span>&nbsp;Cell</a><span></span><span style="display: none;" class="btn-help">Adds a table cell tag</span></li>
                <li><input type="text" dir="ltr" value="3 * 2" class="grid-chooser form-control input-sm grid-picker" id="grid-sizing" title="Click to select custom grid size" data-toggle="tooltip"><span></span><span style="display: none;" class="btn-help">Allows you to select the number of rows and columns for your table.</span></li>
            </ul>
        </div>
    </div>

    <!-- Link code -->
    <div class="btn-group btn-group-sm d-none">
        <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="url" data-toggle="tooltip" data-first="[url]" data-last="[/url]" title="" data-original-title="Hyperlink">
            <span class="fa fa-link "></span>
        </button>
        <span style="display: none;" class="btn-help">Hyperlink Tag<br>turns a url into a hyperlink.<br>Use: [url]http://www.anywhere.com[/url]<br>Use: [url=http://www.anywhere.com]Link&nbsp;text[/url]</span>
        <span style="display: none;" class="btn-help"></span>
        <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="email" data-toggle="tooltip" data-first="[url]" data-last="[/url]" title="Email">
            <span class="fa fa-envelope "></span>
        </button>
        <span style="display: none;" class="btn-help">Email Tag<br>turns an email address into a mailto hyperlink.<br>Use: [url=email@email.com]Link text[/url]</span>
        <span style="display: none;" class="btn-help"></span>
        <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="image" data-toggle="tooltip" data-first="[img]" data-last="[/img]" title="" data-original-title="Image Tag">
            <span class="fa fa-image "></span>
        </button>
        <span style="display: none;" class="btn-help">Image Tag<br>Inserts an image into a post.<br>Use: [img]http://www.anywhere.com/image.gif[/img]</span>
        <span style="display: none;" class="btn-help"></span>
        <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="" data-toggle="tooltip" data-first="[youtube]" data-last="[/youtube]" title="" data-original-title="YouTube video">
            <span class="fa fa-video "></span>
        </button>
        <span style="display: none;" class="btn-help">Youtube Tag<br>Embeds a Youtube video in a post.<br>Use: [youtube]https://www.youtube-nocookie.com/embed/y9lXfu6jLDw[/youtube]</span>
        <span style="display: none;" class="btn-help"></span>
    </div>
    <!-- Block Tags -->
    <div class="btn-group btn-group-sm d-none d-md-block">
        <div class="btn-group btn-group-sm ">
            <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="code" data-toggle="tooltip" data-first="[scrollcode]" data-last="[/scrollcode]" title="" data-original-title="Code tags">
                <span class="fa fa-code "></span>
            </button>
            <span style="display: none;" class="btn-help">Code Tag<br>Blockquotes the text you reference and preserves formatting. Useful for displaying code.<br>Use: [code]This is formatted text[/code]</span>
            <span style="display: none;" class="btn-help"></span>
            <button tabindex="10" type="button" class="btn btn-light btn-postform" data-label="quote" data-toggle="tooltip" data-first="[quote]" data-last="[/quote]" title="" data-original-title="Quote tags">
                <span class="fa fa-quote-left"></span>
            </button>
            <span style="display: none;" class="btn-help">Quote Tag<br>Quotes the enclosed text to reference something specific that someone has posted.<br>Use: [quote]This is a quote[/quote]</span>
            <span style="display: none;" class="btn-help"></span>
        </div>
    </div>
</div>

