@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using System.Globalization

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var supportedCultures = new List<CultureInfo>
    {
        new CultureInfo("en"),
        new CultureInfo("no"),
        new CultureInfo("fa")
    };

    var requestCulture = CultureInfo.CurrentUICulture;
    var cultureItems = supportedCultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = $"{Context.Request.PathBase}{Context.Request.Path.Value}";
    string clang = requestCulture?.TwoLetterISOLanguageName;
}

<!-- Split dropdown button -->
<div class="btn-group dropend">
    <button type="button" class="btn bg-dark">
        <div id="ForumLang" class="@clang flag"></div>
    </button>
    <button type="button" class="btn bg-dark text-bg-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropright</span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var culture in cultureItems)
        {
            @: <li><a class="dropdown-item" href="@Url.Action("SetLanguage", "Home", new { lang = culture.Value, returnUrl })">@culture.Text</a></li>
        }
    </ul>
</div>


