<div class="table-head">
    <div class="status rounded-2"></div>
    <div class="subjects rounded-2">@Localizer["Subject"]</div>
    <div class="replies rounded-2"></div>
    <div class="last-reply rounded-2">@Localizer["lblLastPost"]</div>
    <div class="subscribe rounded-1 d-none d-md-inline-block"><i class="fa fa-object-group" title="@Localizer["tipMergeTopic"]" style="display: none;"></i></div>
</div>