<div class="d-flex aligns-items-center justify-content-center card mx-auto" style="max-width: 30rem;">
    <div class="card-header text-center ">
        Keep Us Going!
    </div>
    <div class="card-body p-4">
        <p>
            Many thanks for your contribution.
        </p>
    </div>
    <div class="card-footer">
        Thanks for being part of our community—you make this place awesome!
    </div>
</div>
