@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="d-flex aligns-items-center justify-content-center card mx-auto" style="max-width: 30rem;">
    <div class="card-header text-center ">
        Keep Us Going!
    </div>
    <div class="card-body p-4">
        <p>
            Hey there! We love keeping this site up and running for you—but hosting and upkeep aren’t free snacks.
            <br /><br />
            If you’ve enjoyed hanging out here, learned something new, or just had a good time, consider tossing a little support our way.
            <br /><br />
            Think of it like buying us a coffee ☕ or helping keep the lights on 💡.
    </p>
        <form action="https://www.paypal.com/donate" method="post" target="_new" class="text-center mx-auto">
            <input type="hidden" name="business" value="paypal@reddick.co.uk" />
            <input type="hidden" name="no_recurring" value="0">
            <input type="hidden" name="item_name" value="Snitz Donation">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
        </form>

    </div>
    <div class="card-footer">
        Thanks for being part of our community—you make this place awesome!
    </div>
</div>
