@using Microsoft.AspNetCore.Identity
@inject SignInManager<ForumUser> SignInManager
@model bool
@{

    var showcalendar = Model;
    showcalendar = showcalendar || SignInManager.IsSignedIn(User);

}
@if (showcalendar)
{
<li><a class="dropdown-item" asp-controller="Calendar" asp-action="Index">@Localizer["mnuCalendar"]</a></li>
}
