@using Microsoft.AspNetCore.Http

<div class="card mb-2" id="upcoming-events">
    <div class="card-header subforum-title">
        @Localizer["Upcoming Events"]
    </div>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" id="cal-loading"></i>
    <div class="card-body p-3" id="calendar-list">

    </div>
</div>
<storecontent asp-key="upcoming-events" >
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

    <environment include="Development">
        <script src="~/js/pluginjs/snitz.cal.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pluginjs/snitz.cal.min.js"></script>
    </environment>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="~/_content/Snitz.Events/js/locales-all.global.min.js"></script>
    <script type="text/javascript">
        $(document)
            .ready(function () {
                UpComingCalendar("@Url.Action("GetUpcomingEvents", "Calendar", new { count = 60 })", 'calendar-list');
            });
    </script>
</storecontent>

