@using System.IO
@using Microsoft.AspNetCore.Hosting
@using SnitzCore.BackOffice.Controllers
@using SnitzCore.Service.Extensions
@using YG.ASPNetCore.FileManager
@using YG.ASPNetCore.FileManager.Enums
@using YG.ASPNetCore.FileManager.ViewComponentsModel
@using YG.ASPNetCore.FileManager.ViewComponentsModel.LanguageModels
@using YG.ASPNetCore.FileManager.ViewComponentsModel.LanguageModels.BuiltIn
@inject IWebHostEnvironment _environment

@{
    Layout = "_MasterLayout";

}
@section Styles {
@this.RenderYGfilemanagerCss(false,new[]{"fontawesome"},Context.Request.PathBase)
<style>
    .yg-fm-fsitems.list .fsitem{
        width:99%;
    }
</style>
}

<div style="height: 600px; margin-bottom:20px" class="mt-3">
        @await Component.InvokeAsync("FileManagerComponent", new FileManagerModel(){
            Id = "FM1",
            RootFolder = _environment.ContentRootPath,
            ApiEndPoint = Url.Action("SnitzFileApi"),
            Config = new FileManagerConfig(){
                StorageMaxSizeMByte = 0,
                UseEncryption = false,
                UseRecycleBin = false,
                EncryptionKey = "<Your Super Secret Encryption Key>",
                DisabledFunctions = { Command.Zip, Command.Unzip },
                HiddenFolders = {"ar","ro","no-NB", "Controllers","bin", "runtimes", "Properties","refs", "_content", "codemirror", "Identity", "is-cache"},
                //Language = new TurkishLanguage(),                
            }
        })
</div>

@section Scripts{
    @this.RenderYGfilemanagerJavaScripts(new[]{"fontawesome.min.js"})
}